@charset "utf-8";

@media screen and (min-width: 641px) and (max-width: 768px) {
}

@media screen and (max-width: 640px){
  * {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  html {
    font-family: 'Noto Sans Japanese',"NotoSansCJKjp", Roboto, "Droid Sans","NotoSans", "モトヤLシーダ3等幅", MotoyaLCedar, Verdana, sans-serif;

  }
  .sp-genre ul li.sp-menu01 p,
  .sp-genre ul li.sp-menu05 p,
  .sp-genre ul li.sp-menu08 p,
  .sp-genre ul li.sp-menu02 p,
  .sp-genre ul li.sp-menu03 p,
  .sp-genre ul li.sp-menu04 p,
  .sp-genre ul li.sp-menu06 p,
  .sp-genre ul li.sp-menu07 p,
  .sp-genre ul li.sp-menu09 p {
    font-size: 28px!important;
  }
  .select ul li a figcaption {
    font-size: 28px!important;
  }
  #gnav_sp {
    height: 200%;
  }
  #gnav_sp > .sp-genre h3 {
    font-size: 32px!important;
  }
  .sp-genre ul li,
  .sp-genre ul li a {
    font-size: 28px !important;
  }
  .modal-inner h2 {
    font-size: 34px!important;
  }
  .modal-inner p {
    font-size: 24px!important;
  }
  .topics h3 {
    font-size: 28px!important;
  }
  .topics dl dt,
  .topics dl dd {
    font-size: 20px!important;
  }
  .topics hr {
    border-collapse: collapse;
    border: solid 1px #7c3d41!important;
    background-color: transparent!important;
  }
  .select p.genre {
    font-size: 24px!important;
  }
  .select p.about {
    font-size: 20px!important;
  }
  .select ul {
    display: block!important;
  }
  .category-main ul {
    display: block!important;
  }
  .category-main ul li {
    margin-bottom: 20px!important;
  }
  .sp-genre ul {
    display: block!important;
  }
  .explanation-txt {
    font-size: 23px!important;
    letter-spacing: 0.5px;
  }
  .android .documents ul li {
    font-size: 19px!important;
    line-height: 1.25!important;
    letter-spacing: 0 !important;
  }
  /*.select-box li::before {
    bottom: 2px!important;
    height: 1px!important;
  }*/
  .popup-inner .close-wrap {
    background: url(../image/sp-close-btn.png) center center no-repeat!important;
    background-size: 20px 20px!important;
    right: 0!important;
  }
  .popup-inner .close-wrap span {
    display: none!important;
  }
}
