@charset "utf-8";

@media screen and (max-width: 640px){
  * {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: none;
  }
  .pc {
    display: none;
  }
  .tb {
    display: none;
  }
  .sp {
    display: block;
  }
  body {
    background: none;
  }
  body::before {
    background: url(../image/bg-img-01.jpg) center top no-repeat;
    background-size: auto;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-bottom: 108px;
    content: "";
    z-index: -1;
    font-family:  Helvetica, Arial, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif!important;
  }
  div,
  p {
    line-height: 1.5;
  }
  #nav-toggle {
    background-size: 80%;
    display: block;
    top: 17px;
    width: 50px;
    height: 50px;
    margin-right: 16%;
  }
  header nav {
    background: none;
    margin: 0;
  }
  header nav ul li.new {
    background: url(../image/ico-new-sp-01.png) 371px 10px no-repeat;
  }
  .sp-genre ul li p {
    /*font-size: 15px;*/
    left: 82px;
  }
  .sp-genre ul li,
  .sp-genre ul li a,
  #anatomyimaging.index .sp-genre ul li a,
  #shoulder.index .sp-genre ul li a  {
    font-size: 15px;
  }
  #musculo .sp-genre ul li a,
  #anatomyimaging .sp-genre ul li a,
  #shoulder .sp-genre ul li a {
    font-size: 28px;
  }
  .font-size-adj ul li p {
    font-size: 28px;
  }
  .sp-genre ul li.sp-menu01::before {
    top: 19px;
    left: 36px;
  }
  .sp-genre ul li.sp-menu02::before {
    top: 26px;
    left: 33px;
  }
  .sp-genre ul li.sp-menu03::before {
    top: 19px;
    left: 36px;
  }
  .sp-genre ul li.sp-menu04::before {
    top: 19px;
    left: 36px;
  }
  .sp-genre ul li.sp-menu05::before {
    top: 25px;
    left: 36px;
  }
  .sp-genre ul li.sp-menu06::before {
    top: 19px;
    left: 28px;
  }
  .sp-genre ul li.sp-menu07::before {
    top: 19px;
    left: 36px;
  }
  .sp-genre ul li.sp-menu08::before {
    top: 19px;
    left: 28px;
  }
  .sp-genre ul li.sp-menu09::before {
    top: 19px;
    left: 36px;
  }
  .sp-genre ul li.sp-menu01 p,
  .sp-genre ul li.sp-menu05 p,
  .sp-genre ul li.sp-menu08 p {
    top: 50%;
    line-height: 1.0em;
    margin-top: -1.0em;
  }
  .sp-genre ul li.sp-menu02 p,
  .sp-genre ul li.sp-menu03 p,
  .sp-genre ul li.sp-menu04 p,
  .sp-genre ul li.sp-menu06 p,
  .sp-genre ul li.sp-menu07 p,
  .sp-genre ul li.sp-menu09 p {
    top: 50%;
    line-height: 1.2em;
    margin-top: -0.6em;
  }
  .sp-genre button {
    background: url(../image/sp-menu-btn.png) center top no-repeat;
    background-size: contain;
    width: 360px;
    height: 62px;
  }
  .font-size-adj button {
    font-size: 23px;
  }
  .sp-genre button a {
    padding: 15px 120px;
    color: rgba(255, 255, 255, 0);
  }
  .top-header {
    background: url(../image/bg-header-sp-01.jpg) center top no-repeat;
    width: 100%;
    position: fixed;
    z-index: 10;
  }
  .left-header {
    margin: 2% 0 0 3%;
    width: 70%;
  }
  .left-header h2 {
    font-size: 3.2vw;
  }
  .left-header > div {
    margin: 5px 0 0 0;
  }
  .left-header > p {
    margin: 4px 0 0 0;
  }
  .left-header > div > p {
    font-size: 2.4vw;
  }
  .left-header > p img {
    width: 80%;
    margin-top: 1%;
  }
  .right-header {
    width: 30%;
  }
  .right-header {
    display: -webkit-box;/* Android4.3??????? */
    display: -webkit-flex;/*--- safari? ---*/
    display: flex;
    -webkit-box-pack: justify;/*--- Android????? ---*/
    justify-content: space-between;
  }
  .right-header > div > img {
    margin-right: -15px;
    width: 100%;
    height: auto;
  }
  .main {
    margin-top: 85px;
    padding-bottom: 40px;
  }
  .main .select {
    margin: 0px auto 40px;
    width: 91%;
  }
  .select ul li {
    background-position: 63px center!important;
    background-size: 16%!important;
  }
  .select ul li a {
    background-position: 0px center!important;
    background-size: 19%!important;
  }
  .select ul li a:hover {
    background-size: 19%!important;
  }
  #gnav_sp {
    height: 170%;
  }
  #gnav_sp > .sp-genre {
    width: 70%;
  }
  #gnav_sp > .sp-genre h3 {
    /*font-size: 4.0vw;
    padding: 23px;
    text-align: left;*/
    background: rgba(172, 53, 50, 0.3) url(../image/sp-genre-ttl.png) 30px center no-repeat;
    color: rgba(255, 255, 255, 0);
  }
  .sp-genre ul {
    -ms-flex-wrap: nowrap;/*--- IE10? ---*/
    -webkit-flex-wrap: nowrap;/*--- safari?PC?? ---*/
    flex-wrap: nowrap;
    height: auto;
    height: 40%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .sp-genre ul li {
    width: 100%;
    height: 85px;
    padding-left: 85px;
  }
  .sp-genre ul li:nth-child(-n+5) {
    border-right: none;
  }
  .sp-genre ul li:last-child {
    display: none;
  }
  .select h2.title {
    font-size: 7.0vw;
  }
  .select p.genre {
    font-size: 4.0vw;
    font-weight: bold;
  }
  .select p.about {
    margin: 5px 0 15px;
    font-size: 3.0vw;
  }
  .select p.about span {
    background: url(../image/arrow-top-about.png) center center no-repeat;
    background-size: auto 65%;
    color: rgba(0, 0, 0, 0);
  }
  .select ul {
    padding: 0;
  }
  .select ul li {
    border-top: solid 1px #fff;
    width: 100%;
    height: 125px;
    padding: 0 0 0 60px;
    position: relative;
    text-align: left;
    margin: 0;
  }
  .select ul li a {
    display: -webkit-box;/* Android4.3??????? */
    display: flex;
  }
  .select ul li a img {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 40px;
    width: 17%;
    height: auto;
  }
  .select .main02 {
    background: url(../image/ico-genre-pre-sp-02.png) center top no-repeat;
  }
  .select .main03 {
    background: url(../image/ico-genre-pre-sp-03.png) center top no-repeat;
  }
  .select .main04 {
    background: url(../image/ico-genre-pre-sp-04.png) center top no-repeat;
  }
  .select .main05 {
    background: url(../image/ico-genre-pre-sp-05.png) center top no-repeat;
  }
  .select .main06 {
    background: url(../image/ico-genre-pre-sp-06.png) center top no-repeat;
  }
  .select .main07 {
    background: url(../image/ico-genre-pre-sp-07.png) center top no-repeat;
  }
  .select .main08 {
    background: url(../image/ico-genre-pre-sp-08.png) center top no-repeat;
  }
  .select .main09 {
    background: url(../image/ico-genre-pre-sp-09.png) center top no-repeat;
  }
  .select ul li a figcaption {
    position: absolute;
    top: 50%;
    line-height: 1.2em;
    margin-top: -1.2em;
    left: 22%;
    width: 60%;
    font-size: 4.2vw;
    font-weight: 400;
  }
  .select ul li.new::after {
    top: 50px;
    right: 5%;
  }
  .select ul li.main02 figcaption,
  .select ul li.main03 figcaption,
  .select ul li.main04 figcaption,
  .select ul li.main06 figcaption,
  .select ul li.main07 figcaption,
  .select ul li.main09 figcaption {
    margin-top: -0.6em;
  }
  .topics {
    width: 100%;
    height: 350px;
    display: block;
  }
  .topics h3 {
    text-align: center;
    font-size: 5.0vw;
    font-weight: bold;
    padding-top: 20px;
  }
  .topics dl {
    width: 92%;
    height: 230px;
    margin: 0 auto;
  }
  .topics dl dt {
    float: none;
    font-size: 2.6vw;
  }
  .topics dl dd {
    font-size: 3.0vw;
    margin: 0 0 10px 0;
    padding-left: 0;
  }
  .picture1-modal::after,
  .picture2-modal::after,
  .picture3-modal::after,
  .picture4-modal::after,
  .picture5-modal::after {
    width: 80%;
    bottom: -45px;
    z-index: -1;
  }
  .modal, .modal-inner {
    cursor: pointer;
  }
  .modal img {
    cursor: pointer;
  }
  .modal a {
    right: 40px;
  }
  .modal-inner {
    padding: 40px 50px;
  }
  .modal-inner h2 {
    font-size: 5vw;
  }
  .modal-inner p {
    font-size: 3.6vw;
    line-height: 1.3;
  }
  footer {
    height: 200px;
  }
  footer p {
    color: #fff;
    opacity: 0;
  }
  footer .copyright {
    margin-top: 30px;
  }
  footer .tb1, footer .tb2 {
    display: none;
  }
  footer .sp {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .top .close-wrap {
    top: 35px;
    right: 21px;
  }
  .category {
    background-size: 100%;
    background: url(../image/bg-category-sp-01.png) center top no-repeat;
    width: 580px;
    height: 2170px;
    margin-top: 80px;
    margin-bottom: 50px;
  }
  #shoulder .category {
    background: url(../image/bg-shoulder-sp-01.png) center top no-repeat;
    background-size: 100% 100%;
    height: 2145px;
  }
  .category-top {
    width: 100%;
    height: 430px;
    margin: 0 auto;
  }
  #shoulder .category-top {
    height: 540px;
  }
  .category-ico {
    background: url(../image/ico-category-sp-01.png) no-repeat;
    left: 45px;
    top: 61px;
    width: 44px;
    height: 116px;
  }
  #anatomyimaging  .category-ico {
    top: 75px;
  }
  #anatomyimaging .answer .question-ico,
  #anatomyimaging .question1 .question-ico,
  #anatomyimaging .answer .question-ico,
  #anatomyimaging .explanation .question-ico {
    top: 125px;
  }
  .category-title {
    background: url(../image/h2-title-category-sp-01.png) no-repeat;
    left: 124px;
    top: 41px;
    width: 385px;
    height: 70px;
  }
  #shoulder .category-title {
    background: url(../image/h2-title-shoulder-sp.png) no-repeat;
    top: 64px;
  }
  #anatomyimaging .category-title {
    background: url(../image/h2-title-anatomy-sp.png) no-repeat;
    top: 65px;
  }
  .category-txt {
    background: url(../image/txt-category-sp-01.png) no-repeat;
    left: 129px;
    top: 135px;
    width: 349px;
    height: 51px;
  }
  #shoulder .category-txt {
    top: 115px;
  }
  #anatomyimaging .category-txt {
    top: 112px;
    left: 122px;
  }
  button.about {
    background: url(../image/btn-category-sp-01.png) no-repeat;
    top: 339px;
    right: 126px;
    width: 325px;
    height: 55px;
  }
  #shoulder button.about {
    top: 450px;
    right: 126px;
  }
  .supervision {
    background: url(../image/txt-category-sp-02.png) no-repeat;
    top: 242px;
    right: 72px;
    width: 423px;
    height: 67px;
  }
  #shoulder .supervision {
    background: url(../image/txt-shoulder-sp-02.png) no-repeat;
    top: 242px;
    right: 72px;
    width: 423px;
    height: 190px;
  }
  #anatomyimaging .supervision {
    background: url(../image/txt-anatomy-sp-02.png) no-repeat;
    top: 212px;
  }
  .category {
    cursor: pointer;
  }
  .category-main {
    width: 100%;
    height: 1740px;
  }
  #shoulder .category-main {
    width: 100%;
    height: 1600px;
  }
  .category-main ul {
    width: 100%;
    -ms-flex-wrap: nowrap;/*--- IE10? ---*/
    -webkit-flex-wrap: nowrap;/*--- safari?PC?? ---*/
    flex-wrap: nowrap;
  }
  .category-main ul li {
    width: 520px;
    height: 150px;
    margin: 0;
  }
  .category-main ul li img {
    top: 22px;
    left: 197px;
    width: 16%;
  }
  .category .modal .close-wrap {
    top: 14px;
    right: 5px;
  }
  .question {
    background: url(../image/bg-case-sp-01.png) no-repeat;
    margin-top: 85px;
    /*width: 91%;*/
    width: 580px;
    height: 1144px;
    margin-bottom: 60px;
  }
  .sequence {
    background: url(../image/img-sequence-sp-01.png) no-repeat;
    width: 254px;
    height: 41px;
  }
  .question-title {
    font-size: 24px;
    top: 112px;
    left: 87px;
  }
  .question .case01 {
    top: 149px;
    left: 87px;
  }
  .question-sentence {
    font-size: 24px;
    top: 227px;
    left: 33px;
    width: 89%;
    line-height: 1.5;
  }
  .picture-box {
    top: 342px;
    right: 64px;
  }
  .picture-box p {
    margin-bottom: 10px;
  }
  .pictures {
    width: 108%;
  }
  .pictures li {
    width: 48%;
  }
  .pictures li:after {
    position: absolute;
    left: 0;
    bottom: -34px;
    width: 100%;
    font-size: 20px;
    letter-spacing: -0.5px;
    line-height: 1.2em;
  }
  .pictures li.second:after {
    position: absolute;
    left: 0;
    top: 104%;
    width: 100%;
    font-size: 20px;
    letter-spacing: -0.5px;
    line-height: 1.2em;
  }
  .pictures.thum2 li {
    width: 254px;
    height: 254px;
    background-size: cover;
  }
  .pictures.thum4 li {
    background-size: cover;
    width: 254px;
    height: 254px;
    margin-bottom: 75px;
  }
  .pictures.thum6 li {
    background-size: cover;
    width: 254px;
    height: 145px;
    margin-bottom: 75px;
  }
  .pictures.thum7 li {
    background-size: cover;
    width: 254px;
    height: 145px;
    margin-bottom: 75px;
  }
  .pictures.thum7 li:nth-child(n+5) {
    width: 169px;
    height: 145px;
  }
  .pictures.thum7 li:nth-child(n+5):after,{
    position: absolute;
    left: 0;
    top: 104%;
    width: 100%;
    font-size: 20px;
    letter-spacing: -0.5px;
    line-height: 1.2em;
  }
  .select-box {
    top: 703px;
    left: 26px;
    /*width: 508px;*/
    width: 533px;
  }
  .page-nav-left, .page-nav-right {
    bottom: 34px;
  }
  .page-nav-right:hover,
  .page-nav-left:hover {
    filter:alpha(opacity=100);
    opacity: 1;
  }
  .select-box {
    top: 720px;
  }
  .select-box li label {
    font-weight: normal;
    line-height: 1.5;
  }
  .select-box li {
    line-height: 1;
  }
  .select-box li::before {
    content: "";
    background: none;
    bottom: -1px;
    left: 0;
    width: 120%;
    height: 1px;
    margin: 0 -10%;
    border-bottom: 1px dotted #c9caca;
    box-sizing: padding-box;
  }
  form button {
    /*top: 966px;*/
    bottom: 105px;
    left: 149px;
    width: 45.862069%;
  }
  form button img {
    width: 100%;
  }
  .modal-bg {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.4);
    z-index: 7;
  }
  .picture-wrap {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: url(../image/bg-modal-sp-01.png) no-repeat;
    background-size: contain;
    width: 580px;
    height: 602px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  .picture-wrap .close-wrap {
    top: 22px;
    right: 13px;
  }
  .picture-wrap .left-arrow {
    top: 529px;
    left: 32px;
  }
  .picture-wrap .right-arrow {
    top: 529px;
    right: 32px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  .close:before, .close:after {
    height: 20px;
  }
  .close:after {
    top: -10px;
  }
  .answer {
    margin-top: 85px;
    /*width: 91%;*/
    width: 580px;
    height: 794px;
    margin-bottom: 60px;
  }
  .answer .sequence {
    background: url(../image/img-sequence-sp-02.png) no-repeat;
    width: 254px;
    height: 41px;
  }
  .answer .case01 {
    top: 149px;
    left: 87px;
  }
  .answer .select-box {
    top: 370px;
    left: 26px;
    width: 508px;
  }
  /*.answer form button {
    top: 627px;
  }*/
  .explanation {
    margin-top: 85px;
    /*width: 91%;*/
    width: 580px;
    height: 1697px;
    margin-bottom: 60px;
    cursor: pointer;
  }
  .explanation .sequence {
    background: url(../image/img-sequence-sp-03.png) no-repeat;
    top: 23px;
    width: 254px;
    height: 41px;
  }
  .question-sentence {
    font-family: Helvetica, Arial;
  }
  .explanation .case01 {
    top: 149px;
    left: 87px;
  }
  .answer-box {
    top: 498px;
    left: 33px;
  }
  .answer-box {
    width: 519px;
  }
  .answer-txt {
    font-size: 22px;
    font-weight: normal;
    line-height: 1.5;
    width: 419px;
  }
  .explanation-txt {
    font-size: 24px;
    line-height: 1.4;
    letter-spacing: 0.5px;
    /*word-break: break-all;*/
    font-family: Helvetica, Arial;
  }
  .tb-tate {
    display: none;
  }
  .one-point {
    top: 361px;
    right: 32px;
    max-height: 95px;
    bottom: auto;
  }
  .one-point img:hover {
    opacity: 1;
  }
  .popup-inner {
    top: 491px;
    left: 30px;
    width: 80%;
  }
  .popup-inner::after {
    top: -45px;
    right: auto;
    left: 50px;
    bottom: auto;
    left: auto;
    border-width: 50px 0 0 30px;
    border-color: transparent transparent transparent #72484c;
  }
  .popup h3 {
    font-size: 34px;
    font-weight: bold;
  }
  .popup p {
    font-size: 23px;
    line-height: 1.6em;
    letter-spacing: 1.2px;
  }
  .popup-inner p.teacher {
    margin-top: 0.5em;
    font-size: 23px;
  }
  .documents {
    bottom: 120px!important;
    width: 480px;
    word-break: normal;
    font-family: Helvetica, Arial;
  }
  .documents h4 {
    font-size: 18px;
    line-height: 1.4;
  }
  .documents ul {
    height: auto;
  }
  .documents ul li {
    font-size: 18px;
    line-height: 1.35;
    letter-spacing: .475px;
  }
  .documents ul li {
    font-size: 17px;
    line-height: 1.4;
    letter-spacing: 0.6px;
  }
  .documents ul li:before {
    position: absolute;
    top: 12px;
    left: 0px;
    content: "";
    width: 4px;
    height: 4px;
    background: #000;
    border-radius: 50%;
  }
  .android .documents ul li:before {
    top: 10px;
  }
  /*.documents ul li:before {
    left: -5px;
  }*/
  footer {
    position: relative;
    box-sizing: border-box;
  }
}
