@charset "utf-8";

iframe[name="google_conversion_frame"] {
 position: absolute;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
h2 {
  -webkit-margin-before: 0.0em;
  -webkit-margin-after: 0.0em;
}
/*small,
sub {
  position: relative;
  bottom: -0.2em;
}*/
a {
  text-decoration: none;
  -webkit-tap-hightlight-color: rgba(0, 0, 0, 0);
  tap-highlight-color: rgba(0, 0, 0, 0);
}
a:hover {
  cursor: pointer;
  opacity: 0.7;
}
img {
  border: 0px;
}
button[type="submit"] {
  padding: 0;
  border: none;
  border-radius: 2px;
}
button {
  border: none;
  background-color: transparent;
}
html {
/*  overflow: hidden; */
  height: 100%;
}
body {
  /* overflow: hidden; */
  width: 100%;
  height: 100%;
  background: url(../image/bg-img-01.jpg) center top no-repeat;
  background-size: cover;
  font-family: "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", 'YuGothic', "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  /*font-family: 'ヒラギノ角ゴ W3','ヒラギノ角ゴ Pro W3',"ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN",  "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", 'YuGothic', "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;*/
  background-attachment: fixed;
  margin: 0;
  line-height: 1.5;
}
/*
* {
  line-height: 1.5;
}*/

#wrapper {
  overflow: hidden;
  min-height: 100%;
  position: relative;
}
.pc {
  display: block;
}
.tb {
  display: none;
}
.sp {
  display: none;
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

.top0{
  margin-top: 0;
}
.top10 {
	margin-top:10px;
}
.top20 {
	margin-top:20px;
}
.top30 {
	margin-top:30px;
}
.top40 {
	margin-top:40px;
}
.top50 {
	margin-top:50px;
}
.top60 {
	margin-top:60px;
}
.top-50{
  margin-top: -50px;
}
.top-100{
  margin-top: -100px;
}
.bottom0 {
	margin-bottom:0;
}
.bottom10 {
	margin-bottom:10px;
}
.bottom20 {
	margin-bottom:20px;
}
.bottom30 {
	margin-bottom:30px;
}
.bottom40 {
	margin-bottom:40px;
}
.bottom50 {
	margin-bottom:50px;
}
.bottom60 {
	margin-bottom:60px;
}
.width100 {
  width: 100%;
}

/*******************/
/*ヘッダー
*******************/
.top-header {
  display: -webkit-box;/* Android4.3以前ブラウザ用 */
  display: -ms-flexbox;/*--- IE10 ---*/
  display: -webkit-flex;/*--- safari用 ---*/
  display: flex;
  -webkit-box-pack: justify;/*--- Androidブラウザ用 ---*/
  -ms-flex-pack: justify;/*--- IE10 ---*/
  -webkit-justify-content: space-between;/*--- safari（PC）用 ---*/
  justify-content: space-between;
  margin: 0 auto;
  width: 1045px;
}
.left-header {
  color: #fff;
  display: -webkit-box;/* Android4.3以前ブラウザ用 */
  display: -ms-flexbox;/*--- IE10 ---*/
  display: -webkit-flex;/*--- safari用 ---*/
  display: flex;
  justify-content: flex-start;
  margin: 15px 0 0 0;
}
.left-header > div {
  margin: 10px 0 0 30px;
}
.left-header > p {
  margin-top: 10px;
}
.left-header h2 {
  font-family: 'Helvetica Neue','Helvetica','Arial';
  letter-spacing: 1px;
  font-size: 28px;
  font-weight: 300;
  margin: 0;
}
.left-header > div > p {
  letter-spacing: 1px;
  margin: 0;
}
.right-header div .back {
  position: relative;
  z-index: -1;
}
header nav {
  margin-top: -35px;
  position: relative;
  width: 100%;
}
header nav .nav-bg {
  text-align: center;
}
header nav .nav-bg img {
  width: 100%;
  height: 82px;
}
header nav > ul {
  opacity: 1.0;
  background: url(../image/line-menu-01.png) right center no-repeat;
  display: -webkit-box;/* Android4.3以前ブラウザ用 */
  display: -ms-flexbox;/*--- IE10 ---*/
  display: -webkit-flex;/*--- safari用 ---*/
  display: flex;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 1045px;
}
header nav > ul li {
  height: 80px;
  position: relative;
  width: 116px;
}
header nav > ul li a {
  display: block;
  height: 80px;
  width: 116px;
}
header nav > ul li a span {
  position: absolute;
  opacity: 0;
  top: 77px;
  left: 17px;
  width: 176px;
  padding: 3px 0;
  border-radius: 2px;
  background: #7c3d41;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
  transition: all .3s;
}
header nav > ul li a span:after {
  position: absolute;
  bottom: 89%;
  left: 34px;
  height: 0;
  width: 0;
  border-style: solid;
  border-width: 0 7px 14px 7px;
  border-color: transparent transparent #7c3d41 transparent;
  content: "";
}
header nav > ul li a:hover {
  background: url(../image/bg-nav-hover-01.png) 5px 0 no-repeat;
  width: 116px;
  height: 82px;
  opacity: 1;
  z-index: 2;
}
header nav > ul li.current a:hover {
  background: none;
}
header nav > ul li.opa a:hover {
  background: none;
}
header nav > ul li a:hover span {
  opacity: 1;
  transition: all .3s;
  z-index: 2;
}
header nav ul li.opa a:hover span {
  opacity: 0;
}
header nav ul li.opa a:hover img {
  opacity: 0.3;
}
header nav > ul li.current {
  position: relative;
  width: 116px;
  height: 82px;
  opacity: 1;
  z-index: 1;
}

header nav > ul li.current::after {
  content: url(../image/bg-nav-hover-01.png);
  position: absolute;
  top: 0px;
  left: 5px;
  width: 106px;
  height: 82px;
  z-index: -1;
}
header nav > ul li.current:hover::after {
  content: none;
}
header nav > ul li.current a:hover::after {
  background-image: none;
}
header nav > ul li.current span {
  opacity: 1;
  z-index: 2;
  transition: all .3s;
}
header nav > ul li.current span:hover {
  opacity: 1;
  z-index: 2;
  transition: all .3s;
}
header nav ul li.menu02 a span,
header nav ul li.menu03 a span,
header nav ul li.menu04 a span,
header nav ul li.menu05 a span,
header nav ul li.menu06 a span,
header nav ul li.menu07 a span {
  left: -40px;
}
header nav ul li.menu02 a span:after,
header nav ul li.menu03 a span:after,
header nav ul li.menu04 a span:after,
header nav ul li.menu05 a span:after,
header nav ul li.menu06 a span:after,
header nav ul li.menu07 a span:after {
  left: 90px;
}
header nav ul li.menu08 a span {
  width: 150px;
  left: -20px;
}
header nav ul li.menu08 a span:after {
  left: 78px;
}
header nav ul li.menu09 a span {
  width: 120px;
  left: -2px;
}
header nav ul li.menu09 a span:after {
  left: 54px;
}
header > nav ul li::before {
  content: url(../image/line-menu-01.png);
  position: absolute;
  top: 5px;
  left: 0px;
}
header nav ul li .new::before {
  content: url(../image/ico-new-01.png);
  position: absolute;
  top: 4px;
  left: 75px;
  z-index: 2;
}
header nav ul li.opa img {
  opacity: 0.3;
}
header nav ul li img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 2;
}

/*******************/
/* ハンバーガーメニュー共通部
*******************/
#nav-toggle {
 width: 74px;
 height: 74px;
 background: url(../image/ico-sp-menu.png) center center no-repeat;
 position: relative;
 top: 10px;
 left: 0;
 z-index: 1002;
}
#nav-toggle.active {
  background: url(../image/ico-sp-menu-close.png) center center no-repeat;
  z-index: 1004;
}
.gnav-wrap {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.5);
  opacity: 0;
  width: 100%;
  height: 200%;
}
#gnav_sp {
  background: none;
  font-size: 26px;
  opacity: 0;
  position: fixed;
  top: 0;
  right: -100%;
  /* background: rgba(255, 255, 255, 0.5); */
  width: 100%;
  height: 200%;
  z-index: 1003;
  transition: 1.2s;
}
#gnav_sp > .sp-genre {
  background: rgba(213, 96, 92, .9);
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  text-align: center;
}
#gnav_sp > .sp-genre h3 {
  background: rgba(172, 53, 50, 0.3);
  color: #fff;
  font-size: 28px;
  font-weight: normal;
  letter-spacing: 1px;
  margin: 0;
  padding: 25px 30px;
  text-align: left;
}
.sp-genre ul {
  display: -webkit-box;/* Android4.3以前ブラウザ用 */
  display: -ms-flexbox;/*--- IE10 ---*/
  display: -webkit-flex;/*--- safari用 ---*/
  display: flex;
  -ms-flex-wrap: wrap;/*--- IE10用 ---*/
  -webkit-flex-wrap: wrap;/*--- safari（PC）用 ---*/
  flex-wrap: wrap;
  -webkit-box-direction: column;/*--- Androidブラウザ用 ---*/
  -ms-flex-direction: column;
  -webkit-flex-direction: column;/*--- safari（PC）用 ---*/
  flex-direction: column;
  height: 356px;
  text-align: left;
  width: 100%;
}
.sp-genre ul li {
  width: 50%;
  height: 70px;
  border-bottom: solid 1px #fff;
  line-height: 0.8;
  position: relative;
}
.sp-genre ul li a {
  display: block;
  width: 100%;
  height: 85px;
  color: #fff;
  font-size: 1.4vw;
}
.sp-genre ul li.sp-menu01 p,
.sp-genre ul li.sp-menu05 p,
.sp-genre ul li.sp-menu08 p {
  position: absolute;
  top: 50%;
  line-height: 1.5em;
  margin-top: -1.5em; /* 2琛屻伄鍫村悎 */
}
.sp-genre ul li.sp-menu02 p,
.sp-genre ul li.sp-menu03 p,
.sp-genre ul li.sp-menu04 p,
.sp-genre ul li.sp-menu06 p,
.sp-genre ul li.sp-menu07 p,
.sp-genre ul li.sp-menu09 p {
  position: absolute;
  top: 22%;
}
.sp-genre ul li p {
  left: 64px;
}
.sp-genre ul li.opa p {
  opacity: 0.3;
}
.sp-genre ul li:nth-child(-n+5) {
  border-right: solid 1px #fff;
}
.sp-genre ul li.sp-menu01::before {
  content: url(../image/ico-sp-menu-01.png);
  position: absolute;
  top: 11px;
  left: 25px;
}
.sp-genre ul li.sp-menu02::before {
  content: url(../image/ico-sp-menu-02.png);
  opacity: 0.3;
  position: absolute;
  top: 18px;
  left: 21px;
}
.sp-genre ul li.sp-menu03::before {
  content: url(../image/ico-sp-menu-03.png);
  opacity: 0.3;
  position: absolute;
  top: 13px;
  left: 26px;
}
.sp-genre ul li.sp-menu04::before {
  content: url(../image/ico-sp-menu-04.png);
  opacity: 0.3;
  position: absolute;
  top: 13px;
  left: 26px;
}
.sp-genre ul li.sp-menu05::before {
  content: url(../image/ico-sp-menu-05.png);
  opacity: 0.3;
  position: absolute;
  top: 18px;
  left: 26px;
}
.sp-genre ul li.sp-menu06::before {
  content: url(../image/ico-sp-menu-06.png);
  opacity: 0.3;
  position: absolute;
  top: 13px;
  left: 16px;
}
.sp-genre ul li.sp-menu07::before {
  content: url(../image/ico-sp-menu-07.png);
  position: absolute;
  top: 13px;
  left: 21px;
}
.sp-genre ul li.sp-menu08::before {
  content: url(../image/ico-sp-menu-08.png);
  position: absolute;
  top: 14px;
  left: 13px;
}
.sp-genre ul li.sp-menu09::before {
  content: url(../image/ico-sp-menu-09.png);
  position: absolute;
  top: 13px;
  left: 23px;
}
.sp-genre button {
  background: #7c3d41;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 400;
  margin: 60px auto 0;
  padding: 10px 0;
}
.sp-genre button a {
  color: #fff;
  padding: 15px 70px;
}

/*******************/
/* select
*******************/
.main {
  padding-bottom: 180px;
}
.main .select {
  background: rgba(228, 109, 97, 0.5);
  margin: 40px auto 30px;
  border-radius: 10px;
  padding: 30px 0 10px;
  position: relative;
  text-align: center;
  width: 825px;
}
.select ul li a {
  display: block;
  width: 100%;
  height: 100%;
  transition: all .3s;
}
.select ul li a:hover {
  /*transition: all .3s;*/
}
.select .main01 {
  background: url(../image/ico-genre-01_out.png) center top no-repeat;
}
.select .main01 a {
  background: url(../image/ico-genre-01_out.png) center top no-repeat;
}
.select .main01 a:hover {
  background-image: url(../image/ico-genre-01_over.png);
}
.select .main02 {
  background: url(../image/ico-genre-pre-02.png) center top no-repeat;
}
.select .main02 a {
}
.select .main02 a:hover {
}
.select .main03 {
  background: url(../image/ico-genre-pre-03.png) center top no-repeat;
}
.select .main03 a {
}
.select .main03 a:hover {
}
.select .main04 {
  background: url(../image/ico-genre-pre-04.png) center top no-repeat;
}
.select .main04 a {
}
.select .main04 a:hover {
}
.select .main05 {
  background: url(../image/ico-genre-pre-05.png) center top no-repeat;
}
.select .main05 a {
}
.select .main05 a:hover {
}
.select .main06 {
  background: url(../image/ico-genre-pre-06.png) center top no-repeat;
}
.select .main06 a {
}
.select .main06 a:hover {
}
.select .main07 {
  background: url(../image/ico-genre-pre-07.png) center top no-repeat;
}
.select .main07 a {
}
.select .main07 a:hover {
}
.select .main08 {
  background: url(../image/ico-genre-pre-08.png) center top no-repeat;
}
.select .main08 a {
}
.select .main08 a:hover {
}
.select .main09 {
  background: url(../image/ico-genre-pre-09.png) center top no-repeat;
}
.select .main09 a {
}
.select .main09 a:hover {
}
.select h2.title {
  color: #fffcd3;
  letter-spacing: 1px;
  line-height: 1;
  font-family: 'Helvetica Neue','Helvetica','Arial'
  font-size: 52px;
  font-weight: 300;
  margin: 0 0 10px 0;
  padding: 0;
}
.select p.genre {
  color: #fff;
  font-size: 21px;
  font-weight: bolder;
  margin: 0;
  padding: 0;
}
.select p.about {
  color: #7c3d41;
  font-weight: bold;
  margin: 10px 0;
}
.select p.about span {
  color: #aa1c45;
  font-size: 12px;
}
.select p.about:hover {
  cursor: pointer;
  opacity: 0.5;
}
.select ul {
  display: -webkit-box;/* Android4.3以前ブラウザ用 */
  display: -ms-flexbox;/*--- IE10 ---*/
  display: -webkit-flex;/*--- safari用 ---*/
  display: flex;
  -ms-flex-wrap: wrap;/*--- IE10用 ---*/
  -webkit-flex-wrap: wrap;/*--- safari（PC）用 ---*/
  flex-wrap: wrap;
  padding: 0 40px;
}
.select ul li {
  font-size: 13px;
  line-height: 1.2;
  margin-bottom: 10px;
  position: relative;
  width: 33%;
  height: 210px;
}
.select ul li img {
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  margin: auto;
}
.select ul li figcaption {
  letter-spacing: 1px;
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  margin: auto;
}
.select ul li.main02 figcaption,
.select ul li.main03 figcaption,
.select ul li.main04 figcaption,
.select ul li.main05 figcaption,
.select ul li.main06 figcaption,
.select ul li.main07 figcaption,
.select ul li.main09 figcaption {
  bottom: 24px;
}
.select ul li.new::after {
  content: url(../image/ico-genre-new.png);
  position: absolute;
  top: 55px;
  right: 30px;
}
.select ul li a {
  color: #fff;
}
.select ul li a:hover {
  color: #7c3d41;
}
/*******************/
/* mobal window
*******************/
.modal {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  opacity: 0;
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 20px;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
  -webkit-transform: translate(0,100%);
  -ms-transform: translate(0,100%);
  transform: translate(0,100%);
  z-index: -10;
}
/* Modal content */
.modal-inner {
  margin: 5% 5%;
  padding: 20px 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius:10px;
  background: #f6efe6;
  z-index: 9;
}
@media screen and (min-width: 1025px){
  .modal-inner {
    margin: 35px 2.5%;
  }
}
.modal-inner h2 {
  border-bottom:1px solid;
  color: #6b3f43;
  font-size: 25px;
  font-weight: bold;
  padding-bottom:20px;
}
.modal-inner p {
  color: #595757;
  font-size: 16px;
  font-weight: normal;
  text-align: left;
  /*letter-spacing: .5px;*/
}
.top .close-wrap {
  top: 35px;
  right: 11px;
}
.close-wrap {
  position: absolute;
  top: 35px;
  right: 35px;
  width: 50px;
  height: 50px;
}
.close-wrap:hover {
  cursor: pointer;
  opacity: 0.5;
}
/*バツ*/
.close:before, .close:after{
  display: block;
  content: '';
  width: 2px;
  height: 15px;
  -webkit-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background-color: #6b3f43;
  border-radius: 10px;
  position: relative;
  top: 10px;
  right: -20px;
}
.close:after{
  top: -5px;
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
/*******************/
/* topics
*******************/
.topics {
  background: #fef4f4;
  display: -webkit-box;/* Android4.3以前ブラウザ用 */
  display: -ms-flexbox;/*--- IE10 ---*/
  display: -webkit-flex;/*--- safari用 ---*/
  display: flex;
  border-radius: 10px;
  width: 1000px;
  margin: 0 auto 30px;
}
.topics h3 {
  color: #7c3d41;
  font-family: Helvetica, Arial;
  font-size: 21px;
  font-weight: normal;
  padding: 0 30px;
}
.topics dl {
  height: 80px;
  width: 870px;
  overflow: auto;
  scrollbar-face-color: #d25753;
  scrollbar-track-color: #f6d2c8;
}
.topics dl dt {
  color: #d25753;
  float: left;
  font-size: 14px;
  margin-bottom: 10px;
  width: 120px;
}
.topics dl dd {
  color: #727171;
  font-size: 14px;
  margin-bottom: 10px;
  padding-left: 80px;
}
.topics dl dt:first-of-type,
.topics dl dd:first-of-type {
  margin-top: 10px;
}
.topics dl dt:last-of-type,
.topics dl dd:last-of-type {
  margin-bottom: 20px;
}
::-webkit-scrollbar-thumb {
  background: #d25753;
}
::-webkit-scrollbar-track {
   background: #f6d2c8;
}
.topics hr {
  border: none;
  background-color: #7c3d41;
  color: #7c3d41;
  height: 1px;
  margin: 20px 20px 20px 0;
}

/*******************/
/* footer
*******************/
footer {
  font-family: Helvetica, Arial, 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, sans-serif;
  background-color: #d25753;
  padding: 42px 0 10px;
  width: 100%;
  height: 178px;
  margin: 0;
  text-align: center;
  position: absolute;
  bottom: 0;
  box-sizing: border-box;
}
footer p {
  color: #e8b2b1;
  display: block;
  font-size: 11px;
  line-height: 14px;
  margin: 0;
  letter-spacing: .2px;
  text-align: center;
}
footer .copyright {
  margin: 55px auto 20px;
  font-size: 10px;
}
footer .tb1, footer .tb2 {
  display: none;
}
footer img.pc {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 1140px;
  height: 109px;
}

/*******************/
/* Category
*******************/
.category {
  background: url(../image/bg-category-01.png) center top no-repeat;
  width: 1024px;
  height: 581px;
  margin: 53px auto 220px;
  position: relative;
  padding-bottom: 160px;
}
#shoulder .category {
  background: url(../image/bg-shoulder-01.png) center top no-repeat;
  height: 640px;
}
.category .modal {
  background: none;
}
.category .modal-inner {
  background: none;
  padding: 0;
  margin: 0;
}
.category .close:before, .category .close:after {
  background-color: #fff;
}
.category .modal .close-wrap {
  top: 3px;
  right: -8px;
}
.category-top {
  width: 100%;
  height: 150px;
  position: relative;
}
#shoulder .category-top {
  height: 210px;
}
.category-ico {
  background: url(../image/ico-category-01.png) 0px 0px no-repeat;
  position: absolute;
  top: 25px;
  left: 53px;
  width: 37px;
  height: 98px;
}
#shoulder .category-ico {
  background: url(../image/ico-shoulder.png) 0px 0px no-repeat;
}
#anatomyimaging .category-ico {
  background: url(../image/ico-anatomy-01.png) 0px 0px no-repeat;
  background-size: contain;
  top: 35px;
  left: 41px;
  width: 57px;
  height: 74px;
}
.category-title {
  background: url(../image/h2-title-category-01.png) 0px 0px no-repeat;
  position: absolute;
  top: 28px;
  left: 114px;
  width: 344px;
  height: 63px;
}
#shoulder .category-title {
  background: url(../image/h2-title-shoulder.png) 0px 0px no-repeat;
  top: 43px;
}
#anatomyimaging .category-title {
  background: url(../image/h2-title-anatomy.png) 0px 0px no-repeat;
  top: 48px;
}
.category-txt {
  background: url(../image/txt-category-01.png) 0px 0px no-repeat;
  position: absolute;
  top: 107px;
  left: 115px;
  width: 355px;
  height: 14px;
}
#shoulder .category-txt {
  top: 87px;
}
button.about {
  background: url(../image/btn-category-01.png) no-repeat;
  position: absolute;
  top: 37px;
  right: 57px;
  width: 163px;
  height: 28px;
}
button.about:hover {
  cursor: pointer;
}
.supervision {
  background: url(../image/txt-category-02.png) no-repeat;
  position: absolute;
  top: 80px;
  right: 57px;
  width: 260px;
  height: 43px;
}
#shoulder .supervision {
  background: url(../image/txt-shoulder-02.png) no-repeat;
  width: 496px;
  height: 110px;
}
#anatomyimaging .supervision {
  background: url(../image/txt-anatomy-02.png) no-repeat;
  width: 350px;
  height: 110px;
}
.category-main {
  position: relative;
  width: 1024px;
  height: 431px;
  margin: 0 auto;
}
.category-main ul {
  display: -webkit-box;/* Android4.3以前ブラウザ用 */
  display: -ms-flexbox;/*--- IE10 ---*/
  display: -webkit-flex;/*--- safari用 ---*/
  display: flex;
  -ms-flex-wrap: wrap;/*--- IE10用 ---*/
  -webkit-flex-wrap: wrap;/*--- safari（PC）用 ---*/
  flex-wrap: wrap;
  -webkit-box-pack: justify;/*--- Androidブラウザ用 ---*/
  -ms-flex-pack: justify;/*--- IE10 ---*/
  -webkit-justify-content: space-between;/*--- safari（PC）用 ---*/
  justify-content: space-between;
  -webkit-box-direction: column;/*--- Androidブラウザ用 ---*/
  -ms-flex-direction: column;
  -webkit-flex-direction: column;/*--- safari（PC）用 ---*/
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 35px 35px 25px;
}
.category-main ul li {
  background-repeat: no-repeat;
  position: relative;
  width: 462px;
  height: 65px;
  margin-right: 31px;
}
.category-main ul li img {
  position: relative;
  top: 5px;
  left: 380px;
  width: 9%;
}
.category-main ul li a {
  background-repeat: no-repeat;
  display: block;
  width: 100%;
  height: 100%;
  transition: all .3s;
}
.category-main ul li a:hover {
  background-repeat: no-repeat;
}

/*******************/
/* Question
*******************/
.question {
  background: url(../image/bg-case-01.png) center top no-repeat;
  width: 1024px;
  height: 653px;
  margin: 53px auto 250px;
  position: relative;
}
.question-title {
  color: #6b3f43;
  font-size: 25px;
  font-family: 'Helvetica Neue','Helvetica','Arial'
  font-weight: 400;
  position: absolute;
  top: 30px;
  left: 117px;
}
.sequence {
  background: url(../image/img-sequence-01.png) no-repeat;
  position: absolute;
  top: 23px;
  right: 20px;
  width: 172px;
  height: 28px;
}
.question .case01 {
  background: url(../image/txt-case-01.png) no-repeat;
  position: absolute;
  top: 73px;
  left: 117px;
  width: 155px;
  height: 42px;
}
.question .case02 {
  background: url(../image/txt-case-02.png) no-repeat;
  position: absolute;
  top: 73px;
  left: 117px;
  width: 165px;
  height: 42px;
}
.question .case03 {
  background: url(../image/txt-case-03.png) no-repeat;
  position: absolute;
  top: 73px;
  left: 117px;
  width: 165px;
  height: 42px;
}
.question .case04 {
  background: url(../image/txt-case-04.png) no-repeat;
  position: absolute;
  top: 73px;
  left: 117px;
  width: 165px;
  height: 42px;
}
.question .case05 {
  background: url(../image/txt-case-05.png) no-repeat;
  position: absolute;
  top: 73px;
  left: 117px;
  width: 165px;
  height: 42px;
}
.question .case06 {
  background: url(../image/txt-case-06.png) no-repeat;
  position: absolute;
  top: 73px;
  left: 117px;
  width: 165px;
  height: 42px;
}
.question .case07 {
  background: url(../image/txt-case-07.png) no-repeat;
  position: absolute;
  top: 73px;
  left: 117px;
  width: 165px;
  height: 42px;
}
.question .case08 {
  background: url(../image/txt-case-08.png) no-repeat;
  position: absolute;
  top: 73px;
  left: 117px;
  width: 165px;
  height: 42px;
}
.question .case09 {
  background: url(../image/txt-case-09.png) no-repeat;
  position: absolute;
  top: 73px;
  left: 117px;
  width: 165px;
  height: 42px;
}
.question .case10 {
  background: url(../image/txt-case-10.png) no-repeat;
  position: absolute;
  top: 73px;
  left: 117px;
  width: 195px;
  height: 42px;
}
.question-sentence {
  color: #595757;
  font-size: 15px;
  line-height: 1.6;
  position: absolute;
  top: 155px;
  left: 50px;
  width: 90%;
}

.question-select-title {
  width: 85%;
}
.select-box {
  background: #f9e8e4;
  border-radius: 5px;
  color: #6b3f43;
  font-family: Helvetica, Arial, "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", 'YuGothic', "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 20px;
  font-weight: 500;
  padding: 0 10px;
  position: absolute;
  top: 220px;
  left: 50px;
  width: 550px;
  overflow: hidden;
  box-sizing: border-box;
}
.select-box li {
/*  border-bottom: dashed 1px #c9caca; */
  position: relative;
}
.select-box li:last-child {
  border-bottom: none;
}
.select-box li::before {
  content: "";
  background: url(../image/bg-line-02.png) repeat;
  background-size: 100% auto;
  position: absolute;
  bottom: 1px;
  left: -10%;
  width: 120%;
  height: 1.2px;
  z-index: 2;
}
.select-box li:last-child::before {
  content: none;
}
.select-box li label {
  display: inline-block;
  width: 100%;
  padding: 11px 10px 11px 36px;
  box-sizing: border-box;
  font-weight: bolder;
  text-indent: -1.2em;
  padding-left: 3em;
}
.select-box .radio {
  display: none;
  transition: all 0s;
}
.select-box .radio + .radio-icon:before {
  content: url(../image/btn-radio-01.png);
  position: absolute;
  top: 13px;
  left: 26px;
}
.select-box .radio:checked + .radio-icon:before {
  content: url(../image/btn-radio-01_on.png);
  position: absolute;
  top: 11px;
  left: 26px;
}
form button {
  display: none;
  opacity: 0;
  position: absolute;
  bottom: 110px;
  left: 333px;
}
form button:hover {
  cursor: pointer;
  opacity: 0.7;
}
.modal-bg {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.4);
  z-index: 7;
}
.picture-box {
  position: absolute;
  top: 204px;
  right: 78px;
}
.picture-box p {
  margin-bottom: 8px;
}
.pictures {
  position: absolute;
  display: -webkit-box;/* Android4.3以前ブラウザ用 */
  display: -ms-flexbox;/*--- IE10 ---*/
  display: -webkit-flex;/*--- safari用 ---*/
  display: flex;
  -ms-flex-wrap: wrap;/*--- IE10用 ---*/
  -webkit-flex-wrap: wrap;/*--- safari（PC）用 ---*/
  flex-wrap: wrap;
  -webkit-box-pack: justify;/*--- Androidブラウザ用 ---*/
  -ms-flex-pack: justify;/*--- IE10 ---*/
  -webkit-justify-content: space-between;/*--- safari（PC）用 ---*/
  justify-content: space-between;
  width: 330px;
}
.pictures li:hover {
  cursor: pointer;
  opacity: 0.7;
}
.pictures li {
  position: relative;
  background-size: cover;
}
.pictures li:after {
  position: absolute;
  left: 0;
  top: 105%;
  width: 100%;
  font-size: 12px;
  letter-spacing: -0.5px;
  line-height: 1.2em;
  white-space: pre;
}
.pictures li.second:after {
  position: absolute;
  left: 0;
  top: 105%;
  width: 100%;
  font-size: 12px;
  letter-spacing: -0.5px;
  line-height: 1.2em;
}
.pictures.thum2 li {
  width: 160px;
  height: 160px;
  background-size: cover;
}
.pictures.thum4 li {
background-size: cover;
  width: 160px;
  height: 160px;
  margin-bottom: 55px;
}
.pictures.thum6 li {
background-size: cover;
  width: 160px;
  height: 89px;
  margin-bottom: 55px;
}
.pictures.thum7 li {
background-size: cover;
  width: 160px;
  height: 89px;
  margin-bottom: 55px;
}
.pictures.thum7 li:nth-child(n+5) {
  width: 104px;
  height: 89px;
}
.pictures.thum7 li:nth-child(n+5):after {
  position: absolute;
  left: 0;
  top: 105%;
  width: 100%;
  font-size: 12px;
  letter-spacing: -0.5px;
  line-height: 1.2em;
}
.page-nav-left {
  color: #6b3f43;
  font-size: 18px;
  font-weight: 600;
  position: absolute;
  bottom: 30px;
  left: 70px;
}
.page-nav-left:before {
  content: url(../image/btn-pagenav-01.png);
  position: absolute;
  top: -9px;
  left: -47px;
}
.page-nav-right {
  color: #6b3f43;
  font-size: 18px;
  font-weight: 600;
  position: absolute;
  bottom: 30px;
  right: 70px;
}
.page-nav-right:after {
  content: url(../image/btn-pagenav-02.png);
  position: absolute;
  top: -9px;
  right: -49px;
}
.page-nav-right:hover,
.page-nav-left:hover {
  filter:alpha(opacity=90);
  opacity: 0.9;
}
.picture-wrap {
  background: url(../image/bg-modal-01.png) no-repeat;
  background-size: 100%;
  cursor: pointer;
  display: none;
  width: 1024px;
  height: 654px;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
}
.picture-wrap .close:before, .picture-wrap .close:after {
  background-color: #fff;
}
.picture-wrap .close-wrap {
  top: 4px;
  right: -7px;
}
.picture-wrap .left-arrow {
  position: absolute;
  top: 244px;
  left: 182px;
}
.picture-wrap .right-arrow {
  position: absolute;
  top: 244px;
  right: 182px;
}
.picture-wrap .left-arrow:hover {
  cursor: pointer;
}
.picture-wrap .right-arrow:hover {
  cursor: pointer;
}

/*******************/
/* Answer
*******************/
.answer {
  background: rgba(255,255,255,0.9);
  border-radius: 10px;
  width: 1024px;
  height: 653px;
  margin: 53px auto 270px;
  position: relative;
}
.answer .case01 {
  background: url(../image/txt-case-01.png) no-repeat;
  position: absolute;
  top: 73px;
  left: 117px;
  width: 155px;
  height: 42px;
}
.answer .case02 {
  background: url(../image/txt-case-02.png) no-repeat;
  position: absolute;
  top: 73px;
  left: 117px;
  width: 165px;
  height: 42px;
}
.answer .case03 {
  background: url(../image/txt-case-03.png) no-repeat;
  position: absolute;
  top: 73px;
  left: 117px;
  width: 165px;
  height: 42px;
}
.answer .case04 {
  background: url(../image/txt-case-04.png) no-repeat;
  position: absolute;
  top: 73px;
  left: 117px;
  width: 165px;
  height: 42px;
}
.answer .case05 {
  background: url(../image/txt-case-05.png) no-repeat;
  position: absolute;
  top: 73px;
  left: 117px;
  width: 165px;
  height: 42px;
}
.answer .case06 {
  background: url(../image/txt-case-06.png) no-repeat;
  position: absolute;
  top: 73px;
  left: 117px;
  width: 165px;
  height: 42px;
}
.answer .case07 {
  background: url(../image/txt-case-07.png) no-repeat;
  position: absolute;
  top: 73px;
  left: 117px;
  width: 165px;
  height: 42px;
}
.answer .case08 {
  background: url(../image/txt-case-08.png) no-repeat;
  position: absolute;
  top: 73px;
  left: 117px;
  width: 165px;
  height: 42px;
}
.answer .case09 {
  background: url(../image/txt-case-09.png) no-repeat;
  position: absolute;
  top: 73px;
  left: 117px;
  width: 165px;
  height: 42px;
}
.answer .case10 {
  background: url(../image/txt-case-10.png) no-repeat;
  position: absolute;
  top: 73px;
  left: 117px;
  width: 195px;
  height: 42px;
}
.answer .sequence {
  background: url(../image/img-sequence-02.png) no-repeat;
}
.answer .select-box {
  overflow: hidden;
  width: 902px;
}
.answer .select-box li {
  padding-left: 90px;
  position: relative;
}
.answer .select-box .batsu::after {
  content: url(../image/ico-batsu-01.png);
  position: absolute;
  top: 11px;
  left: 58px;
}
.answer .select-box .maru::after {
  content: url(../image/ico-maru-01.png);
  position: absolute;
  top: 13px;
  left: 16px;
}
.answer .select-box li.maru {
  background: #f2d0ca;
  margin-left: 40px;
  margin-right: -9px;
  top: -1px;
}
.answer .select-box li.maru label {
  margin-left: -39px;
}
.answer .select-box li.maru .radio-icon::before {
  /*left: -40px;*/
  left: -13px;
}
.answer .select-box::before {
  content: url(../image/bg-line-01.png);
  position: absolute;
  top: 0px;
  left: 49px;
  z-index: 3;
}
.answer form button {
  display: block;
  /*left: 355px;*/
  opacity: 1;
}

/*******************/
/* Explanation
*******************/
.explanation {
  background: rgba(255,255,255,0.9);
  border-radius: 10px;
  width: 1024px;
  height: 754px;
  margin: 53px auto 270px;
  position: relative;
}
.explanation::before {
  display: none;
  content: url(../image/bg-popup-01.png);
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  z-index: 2;
}
.explanation .case01 {
  background: url(../image/txt-case-01.png) no-repeat;
  position: absolute;
  top: 73px;
  left: 117px;
  width: 155px;
  height: 42px;
}
.explanation .case02 {
  background: url(../image/txt-case-02.png) no-repeat;
  position: absolute;
  top: 73px;
  left: 117px;
  width: 165px;
  height: 42px;
}
.explanation .case03 {
  background: url(../image/txt-case-03.png) no-repeat;
  position: absolute;
  top: 73px;
  left: 117px;
  width: 165px;
  height: 42px;
}
.explanation .case04 {
  background: url(../image/txt-case-04.png) no-repeat;
  position: absolute;
  top: 73px;
  left: 117px;
  width: 165px;
  height: 42px;
}
.explanation .case05 {
  background: url(../image/txt-case-05.png) no-repeat;
  position: absolute;
  top: 73px;
  left: 117px;
  width: 165px;
  height: 42px;
}
.explanation .case06 {
  background: url(../image/txt-case-06.png) no-repeat;
  position: absolute;
  top: 73px;
  left: 117px;
  width: 165px;
  height: 42px;
}
.explanation .case07 {
  background: url(../image/txt-case-07.png) no-repeat;
  position: absolute;
  top: 73px;
  left: 117px;
  width: 165px;
  height: 42px;
}
.explanation .case08 {
  background: url(../image/txt-case-08.png) no-repeat;
  position: absolute;
  top: 73px;
  left: 117px;
  width: 165px;
  height: 42px;
}
.explanation .case09 {
  background: url(../image/txt-case-09.png) no-repeat;
  position: absolute;
  top: 73px;
  left: 117px;
  width: 165px;
  height: 42px;
}
.explanation .case10 {
  background: url(../image/txt-case-10.png) no-repeat;
  position: absolute;
  top: 73px;
  left: 117px;
  width: 195px;
  height: 42px;
}
.explanation .sequence {
  background: url(../image/img-sequence-03.png) no-repeat;
}
.answer-box {
  background: #f9e8e4;
  border-radius: 5px;
  position: absolute;
  top: 215px;
  left: 50px;
  width: 924px;
}
.answer-txt {
  background: #f2d3cf;
  border-radius: 5px 5px 0 0;
  color: #6b3f43;
  font-size: 20px;
  font-weight: bolder;
  padding: 15px 0 15px 100px;
  width: 824px;
}
.answer-txt::before {
  content: url(../image/txt-correct-01.png);
  position: absolute;
  top: 15px;
  left: 17px;
}
.explanation-box {
  padding: 20px 30px 25px;
}
.explanation-title {
  color: #6b3f43;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
  line-height: 1.5;
}
.explanation-txt {
  color: #595757;
  line-height: 1.5;
}
.explanation-txt span {
  font-size: 11px;
}
.documents {
  position: absolute;
  bottom: 101px;
  left: 50px;
  width: 621px;
  font-family: Helvetica, Arial;
}
.documents h4 {
  color: #6b3f43;
  margin: 3px 0;
}
.documents ul {
  height: 135px;
}
.documents ul li {
  position: relative;
  color: #595757;
  font-size: 11px;
  /*text-indent: -8px;*/
  padding-left: 8px;
  line-height: 1.5;
}
.documents ul li:before {
  position: absolute;
  top: 6px;
  left: 2px;
  content: "";
  width: 2px;
  height: 2px;
  background: #000;
  border-radius: 50%;
}
.one-point {
  position: absolute;
  bottom: 147px;
  right: 54px;
  z-index: 1;
}
.one-point img:hover {
  cursor: pointer;
  opacity: 0.7
}
.popup {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  opacity: 0;
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 20px;
  -webkit-transition: opacity 1.0s linear;
  transition: opacity 1.0s linear;
  -webkit-transform: translate(0,100%);
  -ms-transform: translate(0,100%);
  transform: translate(0,100%);
  z-index: -10;
}
.popup-inner {
  background: #72484c;
  border-radius: 5px;
  color: #fff;
  display: none;
  opacity: 0;
  padding: 30px;
  position: absolute;
  top: 187px;
  left: 148px;
  width: 700px;
  line-height: 1.5;
  z-index: 2;
}
.popup-inner::after {
  content: "";
  position: absolute;
  top: 99%;
  right: 150px;
  border-width: 0 30px 70px 0;;
  border-style: solid;
  border-color: transparent #72484c  transparent transparent;
  display: block;
  width: 0;
}
.popup-inner h3 {
  font-size: 30px;
  font-weight: bold;
  margin: 0;
}
.popup-inner p {
  font-size: 13px;
}
@media screen and (min-width: 1025px) {
  .popup-inner p {
  letter-spacing: 1px;
  }
}
.popup-inner p.teacher {
  margin: 0 auto 1.5em;
  font-size: 15px;
}
.popup-inner .close-wrap {
  top: 0;
  right: -9px;
}
.popup-inner .close:before, .popup .close:after {
  background: #fff;
}
.tb-tate {
  display: none;
}
