@charset "utf-8";

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .pc {
    display: none;
  }
  .tb {
    display: block;
  }
  .sp {
    display: none;
  }
  body {
    background: none;
  }
  body::before {
    background: url(../image/bg-img-01.jpg) center top no-repeat;
    background-size: auto;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-bottom: 108px;
    content: "";
    z-index: -1;
  }
  #nav-toggle {
    display: block;
  }
  header nav {
    margin: 0;
  }
  header nav ul li.new {
    background: url(../image/ico-new-01.png) no-repeat;
    background-position: 95% 9px;
  }
  .top-header {
    background: url(../image/bg-header-tb-01.jpg) center top no-repeat;
    width: 100%;
    position: fixed;
    z-index: 10;
  }
  .left-header {
    margin-left: 30px;
  }
  .left-header h2 {
    font-size: 3vw;
  }
  .right-header {
    display: -webkit-box;/* Android4.3??????? */
    display: -ms-flexbox;/*--- IE10 ---*/
    display: -webkit-flex;/*--- safari用 ---*/
    display: flex;
  }
  .top .close-wrap {
    top: 44px;
    right: 34px;
  }
  .close:before,
  .close:after {
    height: 15px;
  }
  .close:after {
    top: -5px;
  }
  .category .close:after {
    top: -6px;
  }
  .top .close:after {
    top: -4px;
  }
  #gnav_sp > .sp-genre {
    width: 512px;
  }
  .sp-genre ul li {
/*    width: 191px; */
  }
  .main {
    margin-top: 100px;
    padding-bottom: 0px;
  }
  .main .select {
    margin: 0px auto 40px;
    width: 81.5%;
  }
  .topics {
    width: 95%;
    margin: 0 auto 40px;
  }
  .jspVerticalBar {
    right: 8px!important;
  }
  footer .tb1 {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  footer .tb2 {
    display: none;
  }
  footer .copyright {
    font-size: 10px;
    line-height: 1.5;
    margin: 30px auto 0;
  }
  .category {
    background-size: 100% 555px;
    height: 555px;
    margin: 100px auto 30px;
    width: 96%;
  }
  .category .modal-inner .pc {
    display: block;
  }
  .category .modal-inner .tb {
    display: none;
  }
  .category-top {
    height: 143px;
  }
  .category-ico {
    left: 38px;
  }
  #anatomyimaging .category-ico {
    top: 42px;
    left: 36px;
    width: 51px;
  }
  .category-title {
    left: 98px;
  }
  #anatomyimaging .category-title {
    left: 98px;
  }
  .category-txt {
    left: 98px;
  }
  button.about {
    right: 25px;
  }
  .supervision {
    right: 25px;
  }
  .category-main {
    width: 100%;
    height: 412px;
  }
  .category-main ul {
    width: 100%;
    padding: 3%;
  }
  .category-main ul li {
    width: 48%;
    height: 65px;
    background-size: 100%;
  }
  .category-main ul li a {
    background-size: 100%;
  }
  .category-main ul li a:hover {
    background-size: 100%;
  }
  .category-main ul li img {
    top: 5px;
    left: 104px;
    width: 8%;
  }
  .modal-inner img {
    width: 100%;
  }
  .question {
    width: 96%;
    height: 627px;
    background-size: 100%;
    padding-bottom: 0;
    margin: 100px auto 60px;
  }
  .question-title {
    left: 96px;
  }
  .question .case01 {
    left: 97px;
  }
  .question-sentence {
    left: 37px;
  }
  .select-box {
    left: 36px;
  }
  .picture-box {
    right: 55px;
  }
  form button {
    left: 320px;
  }
  .modal-bg {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.4);
    z-index: 7;
  }
  .picture-wrap {
    position: absolute;
    top: 100px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: url(../image/bg-modal-tb-01.png) center center no-repeat;
    background-size: 95% 85%;
    width: 100%;
  }
  .picture-wrap .close-wrap {
    top: 55px;
    right: 20px;
  }
  .picture-wrap .left-arrow {
    top: 280px;
    left: 168px;
  }
  .picture-wrap .right-arrow {
    top: 280px;
    right: 168px;
  }
  .answer {
    width: 96%;
    height: 627px;
    background-size: 100%;
    margin: 100px auto 35px;
  }
  .explanation {
    width: 96%;
    height: 762px;
    background-size: 100%;
    margin: 100px auto 35px;
    cursor: pointer;
  }
  .explanation .case01 {
    left: 97px;
  }
  .answer-box {
    top: 222px;
    left: 30px;
  }
  .documents {
    left: 32px;
  }
  .one-point {
    right: 29px;
  }
  .page-nav-right:hover,
  .page-nav-left:hover {
    filter:alpha(opacity=100);
    opacity: 1;
  }
  footer {
    position: relative;
    height: 170px;
    box-sizing: border-box;
  }
  footer p {
    margin: 0;
    font-size: 12px;
    line-height: 1.3;
  }
}
