@charset "utf-8";

@media screen and (min-width: 641px) and (max-width: 768px) {
  .pc {
    display: none;
  }
  .tb {
    display: block;
  }
  .sp {
    display: none;
  }
  body {
    background: none;
  }
  body::before {
    background: url(../image/bg-img-01.jpg) center top no-repeat;
    background-size: auto;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-bottom: 108px;
    content: "";
    z-index: -1;
  }
  #nav-toggle {
    display: block;
  }
  header nav {
    margin: 0;
  }
  header nav ul li.new {
    background: url(../image/ico-new-01.png) no-repeat;
    background-position: 95% 9px;
  }
  .top .close-wrap {
    top: 39px;
    right: 29px;
  }
  .close:before,
  .close:after {
    height: 15px;
  }
  .close:after {
    top: -5px;
  }
  .top .close:after {
    top: -5px;
  }
  .top-header {
    background: url(../image/bg-header-tb-01.jpg) center top no-repeat;
    width: 100%;
    position: fixed;
    z-index: 10;
  }
  .left-header {
    margin-left: 16px;
  }
  .left-header h2 {
    font-size: 3.3vw;
  }
  .left-header > p {
    width: 23%;
  }
  .left-header > p img {
    width: 81%;
  }
  .left-header > div {
    margin: 9px 0 0 0;
  }
  .left-header > div > p {
    font-size: 2.5vw;
  }
  .right-header {
    display: -webkit-box;/* Android4.3??????? */
    display: -ms-flexbox;/*--- IE10 ---*/
    display: -webkit-flex;/*--- safari? ---*/
    display: flex;
  }
  .right-header > div img {
    margin-right: -15px;
  }
  .sp-genre ul li {
/*    width: 185px; */
  }
  .sp-genre ul li a p {
    font-size: 2.0vw;
  }
  .sp-genre ul li.sp-menu01 p,
  .sp-genre ul li.sp-menu05 p,
  .sp-genre ul li.sp-menu08 p {
    line-height: 1.3em;
    margin-top: -1.3em;
  }
  .main {
    margin-top: 100px;
    margin-bottom: 35px;
  }
  .main .select {
    margin: 0px auto 40px;
    width: 91%;
  }
  .main .select ul {
    justify-content: space-around;
  }
  .main .select ul li {
    width: 33%;
  }
  .main .select ul li img {
    width: 100%;
  }
  .select ul li.new::after {
    top: 53px;
    right: -16px;
  }
  .topics {
    width: 91%;
  }
  .jspVerticalBar {
    right: 28px !important;
  }
  .topics hr {
    width: 93%;
  }
  #gnav_sp > .sp-genre {
    width: 65%;
  }
  .category {
    background-size: 100%;
    background: url(../image/bg-category-tb-01.png) center top no-repeat;
    width: 88.5%;
    height: 960px;
    margin-top: 100px;
    margin-bottom: 260px;
  }
  #shoulder .category {
    background: url(../image/bg-shoulder-tb-01.png) center top no-repeat;
    background-size: 100% 100%;
    height: 945px;
  }
  .category-top {
    width: 100%;
    height: 156px;
    margin: 0 auto;
  }
  #shoulder .category-top {
    height: 225px;
  }
  .category-ico {
    left: 29px;
  }
  .category-title {
    left: 90px;
  }
  #anatomyimaging .category-title {
    left: 113px;
  }
  .category-txt {
    left: 90px;
  }
  #shoulder .category-txt {
    top: 87px;
    left: 90px;
  }
  #anatomyimaging  .category-txt {
    left: 113px;
  }
  button.about {
    top: 19px;
    right: 20px;
  }
  .supervision {
    background: url(../image/txt-category-tb-02.png) no-repeat;
    top: 61px;
    right: 22px;
    width: 147px;
    height: 60px;
  }
  #shoulder .supervision {
    background: url(../image/txt-shoulder-tb-02.png) no-repeat;
    width: 200px;
    height: 145px;
  }
  #anatomyimaging .supervision {
    background: url(../image/txt-anatomy-tb-02.png) no-repeat;
    width: 235px;
    height: 145px;
  }
  .category-main {
    width: 100%;
    height: 804px;
  }
  #shoulder .category-main {
    height: 715px;
  }
  .category-main ul {
    width: 100%;
    -ms-flex-wrap: nowrap;/*--- IE10? ---*/
    -webkit-flex-wrap: nowrap;/*--- safari?PC?? ---*/
    flex-wrap: nowrap;
  }
  .category-main ul li {
    width: 620px;
    height: 65px;
  }
  .category-main ul li img {
    top: 8px;
    left: 110px;
    width: 7%;
  }
  .category-main ul li a:hover {
    opacity: 0.7;
  }
  .question {
    background: url(../image/bg-case-tb-01.png) no-repeat;
    margin-top: 100px;
    width: 89%;
    height: 903px;
    margin-bottom: 230px;
  }
  .question-title {
    font-size: 20px;
    top: 37px;
    left: 90px;
  }
  .question .case01 {
    top: 73px;
    left: 90px;
  }
  .question-sentence {
    font-size: 16px;
    top: 159px;
    left: 32px;
    width: 89%;
  }
  .picture-box {
    top: 226px;
    right: 202px;
  }
  .pictures.picture-center {
    justify-content: center;
  }
  .select-box {
    top: 492px;
    left: 32px;
    width: 90%;
  }
  form button {
    left: 206px;
    bottom: 105px;
  }
  .modal-bg {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.4);
    z-index: 7;
  }
  .picture-wrap {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: url(../image/bg-modal-tb-01.png) no-repeat;
    background-size: 100% 100%;
    width: 640px;
    height: 580px;
  }
  .picture-wrap .left-arrow {
    top: 514px;
    left: 62px;
  }
  .picture-wrap .right-arrow {
    top: 511px;
    right: 62px;
  }
  .answer {
    margin-top: 100px;
    width: 89%;
    margin-bottom: 230px;
  }
  .answer .question-ico {
    left: 30px;
  }
  .answer .question-title {
    font-size: 20px;
    top: 37px;
    left: 90px;
  }
  .answer .case01 {
    left: 91px;
  }
  .answer .select-box {
    width: 599px;
    top: 238px;
  }
  .answer .select-box li.maru {
    margin-right: -9px;
  }
  /*.answer form button {
    top: 492px;
  }*/
  .explanation {
    margin-top: 100px;
    height: 985px;
    width: 89%;
    margin-bottom: 230px;
    cursor: pointer;
  }
  .explanation .question-ico {
    left: 30px;
  }
  .explanation .case01 {
    left: 91px;
  }
  .explanation .sequence {
    top: 23px;
  }
  .answer-box {
    top: 236px;
    left: 32px;
    width: 623px;
  }
  .answer-txt {
    width: 523px;
  }
  .documents {
    bottom: 131px;
    left: 36px;
    width: 324px;
  }
  .documents ul {
    height: 260px;
  }
  .documents .tb {
    display: none;
  }
  .documents .tb-tate {
    display: block;
  }
  .one-point {
    bottom: 287px;
    right: 31px;
  }
  .popup-inner {
    top: 187px;
    left: 40px;
    width: 80%;
  }
  .popup-inner::after {
    right: 230px;
  }
  .page-nav-right:hover,
  .page-nav-left:hover {
    filter:alpha(opacity=100);
    opacity: 1;
  }
  footer {
    height: auto;
  }
  footer p {
    margin: 0;
    font-size: 12px;
    line-height: 1.3;
  }
  footer .tb1 {
    display: none;
  }
  footer .tb2 {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  footer .copyright {
    font-size: 10px;
    line-height: 1.5;
    margin: 30px auto 0;
  }
}
