@charset "utf-8";
#musculo .question {
  background-size: 100% 100%;
}
#musculo .question-sentence {
  width: 90%;
}
.question1 .question-ico {
  background: url(../../asset/image/ico-category-01.png) no-repeat;
  position: absolute;
  top: 24px;
  left: 53px;
  width: 37px;
  height: 98px;
}
.answer1 .question-ico {
  background: url(../../asset/image/ico-category-01.png) no-repeat;
  position: absolute;
  top: 24px;
  left: 53px;
  width: 37px;
  height: 98px;
}
.explanation1 .question-ico {
  background: url(../../asset/image/ico-category-01.png) no-repeat;
  position: absolute;
  top: 24px;
  left: 53px;
  width: 37px;
  height: 98px;
}
.category1 .category-main .case01 {
  background-image: url(../image/btn-case-01.png);
}
.category1 .category-main .case01 a {
  background-image: url(../image/btn-case-01.png);
}
.category1 .category-main .case01 a:hover {
  background-image: url(../image/btn-case-01_on.png);
}
.category1 .category-main .case02 {
  background-image: url(../image/btn-case-02.png);
}
.category1 .category-main .case02 a {
  background-image: url(../image/btn-case-02.png);
}
.category1 .category-main .case02 a:hover {
  background-image: url(../image/btn-case-02_on.png);
}
.category1 .category-main .case03 {
  background-image: url(../image/btn-case-03.png);
}
.category1 .category-main .case03 a {
  background-image: url(../image/btn-case-03.png);
}
.category1 .category-main .case03 a:hover {
  background-image: url(../image/btn-case-03_on.png);
}
.category1 .category-main .case04 {
  background-image: url(../image/btn-case-04.png);
}
.category1 .category-main .case04 a {
  background-image: url(../image/btn-case-04.png);
}
.category1 .category-main .case04 a:hover {
  background-image: url(../image/btn-case-04_on.png);
}
.category1 .category-main .case05 {
  background-image: url(../image/btn-case-05.png);
}
.category1 .category-main .case05 a {
  background-image: url(../image/btn-case-05.png);
}
.category1 .category-main .case05 a:hover {
  background-image: url(../image/btn-case-05_on.png);
}
.category1 .category-main .case06 {
  background-image: url(../image/btn-case-06.png);
}
.category1 .category-main .case06 a {
  background-image: url(../image/btn-case-06.png);
}
.category1 .category-main .case06 a:hover {
  background-image: url(../image/btn-case-06_on.png);
}
.category1 .category-main .case07 {
  background-image: url(../image/btn-case-07.png);
}
.category1 .category-main .case07 a {
  background-image: url(../image/btn-case-07.png);
}
.category1 .category-main .case07 a:hover {
  background-image: url(../image/btn-case-07_on.png);
}
.category1 .category-main .case08 {
  background-image: url(../image/btn-case-08.png);
}
.category1 .category-main .case08 a {
  background-image: url(../image/btn-case-08.png);
}
.category1 .category-main .case08 a:hover {
  background-image: url(../image/btn-case-08_on.png);
}
.category1 .category-main .case09 {
  background-image: url(../image/btn-case-09.png);
}
.category1 .category-main .case09 a {
  background-image: url(../image/btn-case-09.png);
}
.category1 .category-main .case09 a:hover {
  background-image: url(../image/btn-case-09_on.png);
}
.category1 .category-main .case10 {
  background-image: url(../image/btn-case-10.png);
}
.category1 .category-main .case10 a {
  background-image: url(../image/btn-case-10.png);
}
.category1 .category-main .case10 a:hover {
  background-image: url(../image/btn-case-10_on.png);
}
.question1 .c-01 .picture1 {
  background-image: url(../image/img-case1-01.png);
}
.question1 .c-01 .picture2 {
  background-image: url(../image/img-case1-02.png);
}
.question1 .c-02 .picture1 {
  background-image: url(../image/img-case2-01.png);
}
.question1 .c-02 .picture2 {
  background-image: url(../image/img-case2-02.png);
}
.question1 .c-02 .picture3 {
  background-image: url(../image/img-case2-03.png);

}
.question1 .c-02 .picture4 {
  background-image: url(../image/img-case2-04.png);

}
.question1 .c-02 .picture5 {
  background-image: url(../image/img-case2-05.png);

}
.question1 .c-03 .picture1 {
  background-image: url(../image/img-case3-01.png);
}
.question1 .c-03 .picture2 {
  background-image: url(../image/img-case3-02.png);
}
.question1 .c-03 .picture3 {
  background-image: url(../image/img-case3-03.png);
}
.question1 .c-04 .picture1 {
  background-image: url(../image/img-case4-01.png);
}
.question1 .c-04 .picture2 {
  background-image: url(../image/img-case4-02.png);
}
.question1 .c-04 .picture3 {
  background-image: url(../image/img-case4-03.png);
}
.question1 .c-04 .picture4 {
  background-image: url(../image/img-case4-04.png);
}
.question1 .c-05 .picture1 {
  background-image: url(../image/img-case5-01.png);
}
.question1 .c-05 .picture2 {
  background-image: url(../image/img-case5-02.png);
}
.question1 .c-06 .picture1 {
  background-image: url(../image/img-case6-01.png);

}
.question1 .c-06 .picture2 {
  background-image: url(../image/img-case6-02.png);

}
.question1 .c-06 .picture3 {
  background-image: url(../image/img-case6-03.png);

}
.question1 .c-06 .picture4 {
  background-image: url(../image/img-case6-04.png);

}
.question1 .c-06 .picture5 {
  background-image: url(../image/img-case6-05.png);

}
.question1 .c-07 .picture1 {
  background-image: url(../image/img-case7-01.png);
}
.question1 .c-08 .picture1 {
  background-image: url(../image/img-case8-01.png);

}
.question1 .c-08 .picture2 {
  background-image: url(../image/img-case8-02.png);

}
.question1 .c-08 .picture3 {
  background-image: url(../image/img-case8-03.png);

}
.question1 .c-08 .picture4 {
  background-image: url(../image/img-case8-04.png);

}
.question1 .c-08 .picture5 {
  background-image: url(../image/img-case8-05.png);

}
.question1 .c-09 .picture1 {
  background-image: url(../image/img-case9-01.png);
}
.question1 .c-09 .picture2 {
  background-image: url(../image/img-case9-02.png);
}
.question1 .c-09 .picture3 {
  background-image: url(../image/img-case9-03.png);
}
.question1 .c-10 .picture1 {
  background-image: url(../image/img-case10-01.png);

}
.question1 .c-10 .picture2 {
  background-image: url(../image/img-case10-02.png);

}
.question1 .c-10 .picture3 {
  background-image: url(../image/img-case10-03.png);

}
.question1 .c-10 .picture4 {
  background-image: url(../image/img-case10-04.png);

}
.question1 .c-10 .picture5 {
  background-image: url(../image/img-case10-05.png);

}
.question1 .c-10 .picture6 {
  background-image: url(../image/img-case10-06.png);

}
.question1 .c-10 .picture7 {
  background-image: url(../image/img-case10-07.png);
}
.c-01 .picture1::after {
  content: "図1a  MRI像";
}
.c-01 .picture2::after {
  content: "図1b  生検標本";
}
.c-02 .picture1::after {
  content: "図2a 大腿部のX線写真 ";
}
.c-02 .picture2::after {
  content: "図2b 大腿部のMRI横断像";
}
.c-02 .picture3::after {
  content: "図2c 大腿部のMRI横断像";
}
.c-02 .picture4::after {
  content: "図2d 大腿部のMRI横断像";
}
.c-02 .picture5::after {
  content: "図2e 生検標本";
}
.c-03 .picture1::after {
  content: "図3a 右上腕骨のX線写真\A（正面）";
}
.c-03 .picture2::after {
  content: "図3b 右上腕のMRI冠状断像";
}
.c-03 .picture3::after {
  content: "図3c 生検標本";
}
.c-04 .picture1::after {
  content: "図4a 右大腿部のX線写真\A（前後像）";
}
.c-04 .picture2::after {
  content: "図4b 右大腿部のX線写真\A（側面像）";
}
.c-04 .picture3::after {
  content: "図4c 右大腿部のMRI像\A（T₂強調像）";
}
.c-04 .picture4::after {
  content: "図4d 生検標本";
}
.c-05 .picture1::after {
  content: "図5a 左手のX線写真\A（前後像）";
}
.c-05 .picture2::after {
  content: "図5b 左上腕骨のX線写真\A（前後像）";
}
.c-06 .picture1::after {
  content: "図6a 右大腿部の臨床写真";
}
.c-06 .picture2::after {
  content: "図6b 大腿部のMRI冠状断像\A（T₁強調像）";
}
.c-06 .picture3::after {
  content: "図6c 大腿部のMRI冠状断像\A（T₂強調像）";
}
.c-06 .picture4::after {
  content: "図6d 生検標本（HE染色）";
}
.c-06 .picture5::after {
  content: "図6e 生検標本（CD34染色)";
}
.c-07 .picture1::after {
  content: "図7 右上腕骨のX線写真\A（正面）";
}
.c-08 .picture1::after {
  content: "図8a 大腿部のX線写真\A（側面）";
}
.c-08 .picture2::after {
  content: "図8b 大腿部のX線写真\A（正面）";
}
.c-08 .picture3::after {
  content: "図8c 大腿部のMRI矢状断像";
}
.c-08 .picture4::after {
  content: "図8d 大腿部のMRI横断像";
}
.c-08 .picture5::after {
  content: "図8e 大腿部のCT横断像";
}
.c-09 .picture1::after {
  content: "図9a 左足関節のX線写真\A（側面）";
}
.c-09 .picture2::after {
  content: "図9b 左足関節のMRI矢状断像";
}
.c-09 .picture3::after {
  content: "図9c 左足関節のMRI横断像";
}
.c-10 .picture1::after {
  content: "図10a 膝関節のX線写真\A（正面）";
}
.c-10 .picture2::after {
  content: "図10b 膝関節のX線写真\A（側面）";
}
.c-10 .picture3::after {
  content: "図10c 膝関節のCT横断像";
}
.c-10 .picture4::after {
  content: "図10d 膝関節のMRI矢状断像\A（T₁強調像）";
}
.c-10 .picture5::after {
  content: "図10e 膝関節のMRI\A横断像（脂肪抑制）";
}
.c-10 .picture6::after {
  content: "図10f 生検標本\A（HE染色、低倍率）";
}
.c-10 .picture7::after {
  content: "図10g 生検標本\A（HE染色、高倍率）";
}
.picture1-modal {
  background-image: url(../image/img-case1-modal-01.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 558px;
  height: 472px;
  opacity: 0;
  text-align: center;
  z-index: -10;
}
.picture1-modal::after {
  content: "図1a  MRI像";
  color: #fff;
  font-size: 15px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -35px;
  margin: auto;
  width: 90%;
  text-align: center;
}
.picture2-modal {
  background-image: url(../image/img-case1-modal-02.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 558px;
  height: 472px;
  opacity: 0;
  text-align: center;
  z-index: -10;
}
.picture2-modal::after {
  content: "図1b  生検標本";
  color: #fff;
  font-size: 15px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -35px;
  margin: auto;
  width: 90%;
  text-align: center;
}
.picture3-modal {
  background-image: url(../image/img-case1-modal-03.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 558px;
  height: 472px;
  opacity: 0;
  text-align: center;
  z-index: -10;
}
.picture3-modal::after {
  content: "図1b  生検標本";
  color: #fff;
  font-size: 15px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -35px;
  margin: auto;
  width: 90%;
  text-align: center;
}
.picture4-modal {
  background-image: url(../image/img-case1-modal-04.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 558px;
  height: 472px;
  opacity: 0;
  text-align: center;
  z-index: -10;
}
.picture4-modal::after {
  content: "図1b  生検標本";
  color: #fff;
  font-size: 15px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -35px;
  margin: auto;
  width: 90%;
  text-align: center;
}
.picture5-modal {
  background-image: url(../image/img-case1-modal-05.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 558px;
  height: 472px;
  opacity: 0;
  text-align: center;
  z-index: -10;
}
.picture5-modal::after {
  content: "図1b  生検標本";
  color: #fff;
  font-size: 15px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -35px;
  margin: auto;
  width: 90%;
  text-align: center;
}
.picture6-modal {
  background-image: url(../image/img-case1-modal-06.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 558px;
  height: 472px;
  opacity: 0;
  text-align: center;
  z-index: -10;
}
.picture6-modal::after {
  content: "図1b  生検標本";
  color: #fff;
  font-size: 15px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -35px;
  margin: auto;
  width: 90%;
  text-align: center;
}
.picture7-modal {
  background-image: url(../image/img-case1-modal-07.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 558px;
  height: 472px;
  opacity: 0;
  text-align: center;
  z-index: -10;
}
.picture7-modal::after {
  content: "図1b  生検標本";
  color: #fff;
  font-size: 15px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -35px;
  margin: auto;
  width: 90%;
  text-align: center;
}
.c-02 .picture1-modal {
  background-image: url(../image/img-case2-modal-01.png);
}
.c-02 .picture1-modal::after {
  content: "図2a 大腿部のX線写真 ";
}
.c-02 .picture2-modal {
  background-image: url(../image/img-case2-modal-02.png);
}
.c-02 .picture2-modal::after {
  content: "図2b 大腿部のMRI横断像";
}
.c-02 .picture3-modal {
  background-image: url(../image/img-case2-modal-03.png);
}
.c-02 .picture3-modal::after {
  content: "図2c 大腿部のMRI横断像";
}
.c-02 .picture4-modal {
  background-image: url(../image/img-case2-modal-04.png);
}
.c-02 .picture4-modal::after {
  content: "図2d 大腿部のMRI横断像";
}
.c-02 .picture5-modal {
  background-image: url(../image/img-case2-modal-05.png);
}
.c-02 .picture5-modal::after {
  content: "図2e 生検標本";
}
.c-03 .picture1-modal {
  background-image: url(../image/img-case3-modal-01.png);
}
.c-03 .picture1-modal::after {
  content: "図3a 右上腕骨のX線写真（正面）";
}
.c-03 .picture2-modal {
  background-image: url(../image/img-case3-modal-02.png);
}
.c-03 .picture2-modal::after {
  content: "図3b 右上腕のMRI冠状断像";
}
.c-03 .picture3-modal {
  background-image: url(../image/img-case3-modal-03.png);
}
.c-03 .picture3-modal::after {
  content: "図3c 生検標本";
}
.c-04 .picture1-modal {
  background-image: url(../image/img-case4-modal-01.png);
}
.c-04 .picture1-modal::after {
  content: "図4a 右大腿部のX線写真（前後像）";
}
.c-04 .picture2-modal {
  background-image: url(../image/img-case4-modal-02.png);
}
.c-04 .picture2-modal::after {
  content: "図4b 右大腿部のX線写真（側面像）";
}
.c-04 .picture3-modal {
  background-image: url(../image/img-case4-modal-03.png);
}
.c-04 .picture3-modal::after {
  content: "図4c 右大腿部のMRI像（T₂強調像）";
}
.c-04 .picture4-modal {
  background-image: url(../image/img-case4-modal-04.png);
}
.c-04 .picture4-modal::after {
  content: "図4d 生検標本";
}
.c-05 .picture1-modal {
  background-image: url(../image/img-case5-modal-01.png);
}
.c-05 .picture1-modal::after {
  content: "図5a 左手のX線写真（前後像）";
}
.c-05 .picture2-modal {
  background-image: url(../image/img-case5-modal-02.png);
}
.c-05 .picture2-modal::after {
  content: "図5b 左上腕骨のX線写真（前後像）";
}
.c-06 .picture1-modal {
  background-image: url(../image/img-case6-modal-01.png);
}
.c-06 .picture1-modal::after {
  content: "図6a 右大腿部の臨床写真";
}
.c-06 .picture2-modal {
  background-image: url(../image/img-case6-modal-02.png);
}
.c-06 .picture2-modal::after {
  content: "図6b 大腿部のMRI冠状断像（T₁強調像）";
}
.c-06 .picture3-modal {
  background-image: url(../image/img-case6-modal-03.png);
}
.c-06 .picture3-modal::after {
  content: "図6c 大腿部のMRI冠状断像（T₂強調像）";
}
.c-06 .picture4-modal {
  background-image: url(../image/img-case6-modal-04.png);
}
.c-06 .picture4-modal::after {
  content: "図6d 生検標本（HE染色）";
}
.c-06 .picture5-modal {
  background-image: url(../image/img-case6-modal-05.png);
}
.c-06 .picture5-modal::after {
  content: "図6e 生検標本（CD34染色）";
}
.c-07 .picture1-modal {
  background-image: url(../image/img-case7-modal-01.png);
}
.c-07 .picture1-modal::after {
  content: "図7 右上腕骨のX線写真（正面）";
}
.c-08 .picture1-modal {
  background-image: url(../image/img-case8-modal-01.png);
}
.c-08 .picture1-modal::after {
  content: "図8a 大腿部のX線写真（側面）";
}
.c-08 .picture2-modal {
  background-image: url(../image/img-case8-modal-02.png);
}
.c-08 .picture2-modal::after {
  content: "図8b 大腿部のX線写真（正面）";
}
.c-08 .picture3-modal {
  background-image: url(../image/img-case8-modal-03.png);
}
.c-08 .picture3-modal::after {
  content: "図8c 大腿部のMRI矢状断像";
}
.c-08 .picture4-modal {
  background-image: url(../image/img-case8-modal-04.png);
}
.c-08 .picture4-modal::after {
  content: "図8d 大腿部のMRI横断像";
}
.c-08 .picture5-modal {
  background-image: url(../image/img-case8-modal-05.png);
}
.c-08 .picture5-modal::after {
  content: "図8e 大腿部のCT横断像";
}
.c-09 .picture1-modal {
  background-image: url(../image/img-case9-modal-01.png);
}
.c-09 .picture1-modal::after {
  content: "図9a 左足関節のX線写真（側面）";
}
.c-09 .picture2-modal {
  background-image: url(../image/img-case9-modal-02.png);
}
.c-09 .picture2-modal::after {
  content: "図9b 左足関節のMRI矢状断像";
}
.c-09 .picture3-modal {
  background-image: url(../image/img-case9-modal-03.png);
}
.c-09 .picture3-modal::after {
  content: "図9c 左足関節のMRI横断像";
}
.c-10 .picture1-modal {
  background-image: url(../image/img-case10-modal-01.png);
}
.c-10 .picture1-modal::after {
  content: "図10a 膝関節のX線写真（正面）";
}
.c-10 .picture2-modal {
  background-image: url(../image/img-case10-modal-02.png);
}
.c-10 .picture2-modal::after {
  content: "図10b 膝関節のX線写真（側面）";
}
.c-10 .picture3-modal {
  background-image: url(../image/img-case10-modal-03.png);
}
.c-10 .picture3-modal::after {
  content: "図10c 膝関節のCT横断像";
}
.c-10 .picture4-modal {
  background-image: url(../image/img-case10-modal-04.png);
}
.c-10 .picture4-modal::after {
  content: "図10d 膝関節のMRI矢状断像（T₁強調像）";
}
.c-10 .picture5-modal {
  background-image: url(../image/img-case10-modal-05.png);
}
.c-10 .picture5-modal::after {
  content: "図10e 膝関節のMRI横断像（脂肪抑制） ";
}
.c-10 .picture6-modal {
  background-image: url(../image/img-case10-modal-06.png);
}
.c-10 .picture6-modal::after {
  content: "図10f 生検標本（HE染色、低倍率）";
}
.c-10 .picture7-modal {
  background-image: url(../image/img-case10-modal-07.png);
}
.c-10 .picture7-modal::after {
  content: "図10g 生検標本（HE染色、高倍率）";
}
.c01 .popup-inner {
  top: 167px;
}
.c02 .question {
  height: 827px;
}
.c02 .select-box {
  top: 250px;
}
.c02 .picture-box {
  top: 235px;
}
.c02 .answer {
  height: 675px;
}
.c02 .answer-box {
  top: 250px;
}
.c02 .documents {
  bottom: 90px;
}
.c02 .one-point {
  bottom: 125px;
}
.c02 .popup-inner {
  top: 212px;
}
.c03 .question {
  height: 825px;
}
.c03 .select-box {
  top: 250px;
}
.c03 .picture-box {
  top: 235px;
}
.c03 .answer {
  height: 675px;
}
.c03 .answer-box {
  top: 250px;
}
.c03 .documents {
  bottom: 90px;
}
.c03 .one-point {
  bottom: 125px;
}
.c03 .popup-inner {
  top: 194px;
}
.c04 .question {
  height: 843px;
}
.c04 .select-box {
  top: 270px;
}
.c04 .picture-box {
  top: 255px;
}
.c04 .answer {
  height: 695px;
}
.c04 .explanation {
  height: 825px;
}
.c04 .answer-box {
  top: 270px;
}
.c04 .documents {
  bottom: 70px;
}
.c04 .one-point {
  bottom: 105px;
}
.c04 .popup-inner {
  top: 285px;
}
.c05 .question {
  height: 690px;
}
.c05 .select-box {
  top: 270px;
}
.c05 .picture-box {
  top: 255px;
}
.c05 .answer {
  height: 695px;
}
.c05 .explanation {
  height: 780px;
}
.c05 .answer-box {
  top: 270px;
}
.c05 .documents {
  bottom: 70px;
}
.c05 .one-point {
  bottom: 105px;
}
.c05 .popup-inner {
  top: 240px;
}
.c06 .question {
  height: 845px;
}
.c06 .select-box {
  top: 270px;
}
.c06 .picture-box {
  top: 255px;
}
.c06 .answer {
  height: 695px;
}
.c06 .answer-box {
  top: 240px;
}
.c06 .explanation {
  height: 800px;
}
.c06 .answer-box {
  top: 270px;
}
.c06 .documents {
  bottom: 70px;
}
.c06 .one-point {
  bottom: 105px;
}
.c06 .popup-inner {
  top: 260px;
}
.c07 .question {
  height: 680px;
}
.c07 .select-box {
  top: 250px;
}
.c07 .picture-box {
  top: 235px;
}
.c07 .answer {
  height: 675px;
}
.c07 .answer-box {
  top: 250px;
}
.c07 .explanation {
  height: 775px;
}
.c07 .documents {
  bottom: 90px;
}
.c07 .one-point {
  bottom: 130px;
}
.c07 .popup-inner {
  top: 230px;
}
.c08 .question {
  height: 845px;
}
.c08 .select-box {
  top: 270px;
}
.c08 .picture-box {
  top: 255px;
}
.c08 .answer {
  height: 695px;
}
.c08 .explanation {
  height: 845px;
}
.c08 .answer-box {
  top: 270px;
}
.c08 .documents {
  bottom: 90px;
}
.c08 .one-point {
  bottom: 130px;
}
.c08 .popup-inner {
  top: 280px;
}
.c09 .question {
  height: 825px;
}
.c09 .select-box {
  top: 250px;
}
.c09 .picture-box {
  top: 235px;
}
.c09 .answer {
  height: 675px;
}
.c09 .explanation {
  height: 850px;
}
.c09 .answer-box {
  top: 250px;
}
.c09 .documents {
  bottom: 70px;
}
.c09 .one-point {
  bottom: 110px;
}
.c09 .popup-inner {
  top: 325px;
}
.c10 .question {
  height: 865px;
}
.c10 .select-box {
  top: 290px;
}
.c10 .picture-box {
  top: 275px;
}
.c10 .explanation {
  height: 870px;
}
.c10 .answer {
  height: 715px;
}
.c10 .answer-box {
  top: 290px;
}
.c10 .documents {
  bottom: 70px;
}
.c10 .one-point {
  bottom: 110px;
}
.c10 .popup-inner {
  top: 325px;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .question1 .question-ico {
    top: 24px;
    left: 34px;
  }
  .explanation1 .question-ico {
    left: 30px;
  }
  .picture1 {
    background-size: 97%;
  }
  .picture2 {
    background-size: 97%;
  }
  .picture1-modal,
  .picture2-modal,
  .picture3-modal,
  .picture4-modal,
  .picture5-modal,
  .picture6-modal,
  .picture7-modal {
    top: 100px!important;
    height: 430px;
  }
  .c01 .question,
  .c01 .answer {
    height: 650px;
  }
  .c01 .popup-inner {
    top: 200px;
  }
  .c02 .question {
    height: 775px;
  }
  .c02 .question form button {
    bottom: 200px;
  }
  .c02 .popup-inner {
    top: 222px;
  }
  .c03 .question {
    height: 770px;
  }
  .c03 .question form button {
    bottom: 200px;
  }
  .c03 .popup-inner {
    top: 220px;
  }
  .c04 .question {
    height: 790px;
  }
  .c04 .question form button {
    bottom: 200px;
  }
  .c05 .popup-inner {
    top: 260px;
  }
  .c06 .question {
    height: 790px;
  }
  .c06 .question form button {
    bottom: 200px;
  }
  .c06 .popup-inner {
    top: 280px;
  }
  .c08 .question {
    height: 790px;
  }
  .c08 .question form button {
    bottom: 200px;
  }
  .c09 .question {
    height: 825px;
  }
  .c09 .question form button {
    bottom: 200px;
  }
  .c10 .question {
    height: 830px;
  }
  .c10 .question form button {
    bottom: 220px;
  }
  .c10 .popup-inner {
    top: 345px;
  }
}

@media screen and (min-width: 641px) and (max-width: 768px) {
  .question1 .question-ico {
    top: 28px;
    left: 31px;
  }
  .picture1-modal,
  .picture2-modal,
  .picture3-modal,
  .picture4-modal,
  .picture5-modal,
  .picture6-modal,
  .picture7-modal {
    background-position: center center;
    width: 520px;
    height: 445px;
    top: 78px;
  }
  .category1 .category-main .case01 {
    background-image: url(../image/btn-case-tb-01.png);
  }
  .category1 .category-main .case01 a {
    background-image: url(../image/btn-case-tb-01.png);
  }
  .category1 .category-main .case01 a:hover {
    background-image: url(../image/btn-case-tb-01.png);
  }
  .category1 .category-main .case02 {
    background-image: url(../image/btn-case-tb-02.png);
  }
  .category1 .category-main .case02 a {
    background-image: url(../image/btn-case-tb-02.png);
  }
  .category1 .category-main .case02 a:hover {
    background-image: url(../image/btn-case-tb-02.png);
  }
  .category1 .category-main .case03 {
    background-image: url(../image/btn-case-tb-03.png);
  }
  .category1 .category-main .case03 a {
    background-image: url(../image/btn-case-tb-03.png);
  }
  .category1 .category-main .case03 a:hover {
    background-image: url(../image/btn-case-tb-03.png);
  }
  .category1 .category-main .case04 {
    background-image: url(../image/btn-case-tb-04.png);
  }
  .category1 .category-main .case04 a {
    background-image: url(../image/btn-case-tb-04.png);
  }
  .category1 .category-main .case04 a:hover {
    background-image: url(../image/btn-case-tb-04.png);
  }
  .category1 .category-main .case05 {
    background-image: url(../image/btn-case-tb-05.png);
  }
  .category1 .category-main .case05 a {
    background-image: url(../image/btn-case-tb-05.png);
  }
  .category1 .category-main .case05 a:hover {
    background-image: url(../image/btn-case-tb-05.png);
  }
  .category1 .category-main .case06 {
    background-image: url(../image/btn-case-tb-06.png);
  }
  .category1 .category-main .case06 a {
    background-image: url(../image/btn-case-tb-06.png);
  }
  .category1 .category-main .case06 a:hover {
    background-image: url(../image/btn-case-tb-06.png);
  }
  .category1 .category-main .case07 {
    background-image: url(../image/btn-case-tb-07.png);
  }
  .category1 .category-main .case07 a {
    background-image: url(../image/btn-case-tb-07.png);
  }
  .category1 .category-main .case07 a:hover {
    background-image: url(../image/btn-case-tb-07.png);
  }
  .category1 .category-main .case08 {
    background-image: url(../image/btn-case-tb-08.png);
  }
  .category1 .category-main .case08 a {
    background-image: url(../image/btn-case-tb-08.png);
  }
  .category1 .category-main .case08 a:hover {
    background-image: url(../image/btn-case-tb-08.png);
  }
  .category1 .category-main .case09 {
    background-image: url(../image/btn-case-tb-09.png);
  }
  .category1 .category-main .case09 a {
    background-image: url(../image/btn-case-tb-09.png);
  }
  .category1 .category-main .case09 a:hover {
    background-image: url(../image/btn-case-tb-09.png);
  }
  .category1 .category-main .case10 {
    background-image: url(../image/btn-case-tb-10.png);
  }
  .category1 .category-main .case10 a {
    background-image: url(../image/btn-case-tb-10.png);
  }
  .category1 .category-main .case10 a:hover {
    background-image: url(../image/btn-case-tb-10.png);
  }
  .answer form button {
    top: inherit;
  }
  .c02 .question {
    height: 1160px;
  }
  .c02 .picture-box {
    top: 255px;
  }
  .c02 .select-box {
    top: 750px;
  }
  .c02 .answer {
    height: 680px;
  }
  .c02 .answer .select-box {
    top: 260px;
  }
  .c02 .explanation {
    height: 855px;
  }
  .c02 .answer-box {
    top: 260px;
  }
  .c02 .documents {
    bottom: 0;
  }
  .c02 .one-point {
    bottom: 165px;
  }
  .c02 .popup-inner {
    top: 255px;
  }
  .c03 .question {
    height: 1155px;
  }
  .c03 .picture-box {
    top: 245px;
  }
  .c03 .select-box {
    top: 735px;
  }
  .c03 .answer {
    height: 675px;
  }
  .c03 .answer .select-box {
    top: 255px;
  }
  .c03 .explanation {
    height: 975px;
  }
  .c03 .answer-box {
    top: 265px;
  }
  .c03 .documents {
    bottom: 120px;
  }
  .c03 .one-point {
    bottom: 285px;
  }
  .c03 .popup-inner {
    top: 255px;
  }
  .c04 .question {
    height: 1220px;
  }
  .c04 .picture-box {
    top: 295px;
  }
  .c04 .select-box {
    top: 800px;
  }
  .c04 .answer {
    height: 730px;
  }
  .c04 .answer .select-box {
    top: 310px;
  }
  .c04 .explanation {
    height: 980px;
  }
  .c04 .answer-box {
    top: 310px;
  }
  .c04 .documents {
    bottom: -10px;
  }
  .c04 .one-point {
    bottom: 155px;
  }
  .c04 .popup-inner {
    top: 370px;
  }
  .c05 .question {
    height: 1000px;
  }
  .c05 .picture-box {
    top: 295px;
  }
  .c05 .select-box {
    top: 580px;
  }
  .c05 .answer {
    height: 730px;
  }
  .c05 .answer .select-box {
    top: 310px;
  }
  .c05 .explanation {
    height: 970px;
  }
  .c05 .answer-box {
    top: 310px;
  }
  .c05 .documents {
    bottom: 10px;
  }
  .c05 .one-point {
    bottom: 175px;
  }
  .c05 .popup-inner {
    top: 360px;
  }
  .c06 .question {
    height: 1180px;
  }
  .c06 .picture-box {
    top: 270px;
  }
  .c06 .select-box {
    top: 760px;
  }
  .c06 .answer {
    height: 705px;
  }
  .c06 .answer .select-box {
    top: 285px;
  }
  .c06 .explanation {
    height: 1020px;
  }
  .c06 .answer-box {
    top: 285px;
  }
  .c06 .documents {
    bottom: 60px;
  }
  .c06 .one-point {
    bottom: 225px;
  }
  .c06 .popup-inner {
    top: 360px;
  }
  .c07 .question {
    height: 925px;
  }
  .c07 .picture-box {
    top: 220px;
  }
  .c07 .select-box {
    top: 505px;
  }
  .c07 .answer {
    height: 655px;
  }
  .c07 .answer .select-box {
    top: 235px;
  }
  .c07 .explanation {
    height: 925px;
  }
  .c07 .answer-box {
    top: 235px;
  }
  .c07 .documents {
    bottom: 40px;
  }
  .c07 .one-point {
    bottom: 205px;
  }
  .c07 .popup-inner {
    top: 285px;
  }
  .c08 .question {
    height: 1180px;
  }
  .c08 .picture-box {
    top: 270px;
  }
  .c08 .select-box {
    top: 760px;
  }
  .c08 .answer {
    height: 705px;
  }
  .c08 .answer .select-box {
    top: 285px;
  }
  .c08 .explanation {
    height: 1035px;
  }
  .c08 .answer-box {
    top: 285px;
  }
  .c08 .documents {
    bottom: 55px;
  }
  .c08 .one-point {
    bottom: 220px;
  }
  .c08 .popup-inner {
    top: 360px;
  }
  .c09 .question {
    height: 1195px;
  }
  .c09 .picture-box {
    top: 255px;
  }
  .c09 .select-box {
    top: 745px;
  }
  .c09 .answer {
    height: 765px;
  }
  .c09 .answer .select-box {
    top: 285px;
  }
  .c09 .explanation {
    height: 1015px;
  }
  .c09 .answer-box {
    top: 285px;
  }
  .c09 .documents {
    bottom: -10px;
  }
  .c09 .one-point {
    bottom: 155px;
  }
  .c09 .popup-inner {
    top: 425px;
  }
  .c10 .question {
    height: 1245px;
  }
  .c10 .picture-box {
    top: 320px;
  }
  .c10 .select-box {
    top: 825px;
  }
  .c10 .answer {
    height: 755px;
  }
  .c10 .answer .select-box {
    top: 335px;
  }
  .c10 .explanation {
    height: 1050px;
  }
  .c10 .answer-box {
    top: 335px;
  }
  .c10 .documents {
    bottom: -30px;
  }
  .c10 .one-point {
    bottom: 135px;
  }
  .c10 .popup-inner {
    top: 480px;
  }
}

@media screen and (max-width: 640px){
  .question1 .question-ico {
    top: 105px;
    left: 30px;
    background-size: 96%;
  }
  .answer1 .question-ico {
    top: 105px;
    left: 30px;
    background-size: 96%;
  }
  .explanation1 .question-ico {
    top: 105px;
    left: 30px;
    background-size: 96%;
  }
  .pictures.picture-center {
    justify-content: center;
  }
  /*.question1 .picture1,
  .question1 .picture2,
  .question1 .picture3,
  .question1 .picture4,
  .question1 .picture5,
  .question1 .picture6,
  .question1 .picture7,
  .question1 .picture8,
  .question1 .picture9 {
    width: 253px;
    height: 284px;
    min-height: 210px;
  }
  .question1 .picture5,
  .question1 .picture6,
  .question1 .picture7,
  .question1 .picture8,
  .question1 .picture9 {
    min-width: 160px;
    min-height: 210px;
  }*/
  .question1 .picture1 {
    background-image: url(../image/img-case1-sp-01.png);
  }
  .question1 .picture2 {
    background-image: url(../image/img-case1-sp-02.png);
  }
  .picture1-modal,
  .picture2-modal,
  .picture3-modal,
  .picture4-modal,
  .picture5-modal,
  .picture6-modal,
  .picture7-modal,
  .picture8-modal {
    background-position: center center;
    width: 90%;
    top: 60px;
  }
  .category1 .category-main .case01 {
    background-image: url(../image/btn-case-sp-01.png);
  }
  .category1 .category-main .case01 a {
    background-image: url(../image/btn-case-sp-01.png);
  }
  .category1 .category-main .case01 a:hover {
    background-image: url(../image/btn-case-sp-01.png);
  }
  .category1 .category-main .case02 {
    background-image: url(../image/btn-case-sp-02.png);
  }
  .category1 .category-main .case02 a {
    background-image: url(../image/btn-case-sp-02.png);
  }
  .category1 .category-main .case02 a:hover {
    background-image: url(../image/btn-case-sp-02.png);
  }
  .category1 .category-main .case03 {
    background-image: url(../image/btn-case-sp-03.png);
  }
  .category1 .category-main .case03 a {
    background-image: url(../image/btn-case-sp-03.png);
  }
  .category1 .category-main .case03 a:hover {
    background-image: url(../image/btn-case-sp-03.png);
  }
  .category1 .category-main .case04 {
    background-image: url(../image/btn-case-sp-04.png);
  }
  .category1 .category-main .case04 a {
    background-image: url(../image/btn-case-sp-04.png);
  }
  .category1 .category-main .case04 a:hover {
    background-image: url(../image/btn-case-sp-04.png);
  }
  .category1 .category-main .case05 {
    background-image: url(../image/btn-case-sp-05.png);
  }
  .category1 .category-main .case05 a {
    background-image: url(../image/btn-case-sp-05.png);
  }
  .category1 .category-main .case05 a:hover {
    background-image: url(../image/btn-case-sp-05.png);
  }
  .category1 .category-main .case06 {
    background-image: url(../image/btn-case-sp-06.png);
  }
  .category1 .category-main .case06 a {
    background-image: url(../image/btn-case-sp-06.png);
  }
  .category1 .category-main .case06 a:hover {
    background-image: url(../image/btn-case-sp-06.png);
  }
  .category1 .category-main .case07 {
    background-image: url(../image/btn-case-sp-07.png);
  }
  .category1 .category-main .case07 a {
    background-image: url(../image/btn-case-sp-07.png);
  }
  .category1 .category-main .case07 a:hover {
    background-image: url(../image/btn-case-sp-07.png);
  }
  .category1 .category-main .case08 {
    background-image: url(../image/btn-case-sp-08.png);
  }
  .category1 .category-main .case08 a {
    background-image: url(../image/btn-case-sp-08.png);
  }
  .category1 .category-main .case08 a:hover {
    background-image: url(../image/btn-case-sp-08.png);
  }
  .category1 .category-main .case09 {
    background-image: url(../image/btn-case-sp-09.png);
  }
  .category1 .category-main .case09 a {
    background-image: url(../image/btn-case-sp-09.png);
  }
  .category1 .category-main .case09 a:hover {
    background-image: url(../image/btn-case-sp-09.png);
  }
  .category1 .category-main .case10 {
    background-image: url(../image/btn-case-sp-10.png);
  }
  .category1 .category-main .case10 a {
    background-image: url(../image/btn-case-sp-10.png);
  }
  .category1 .category-main .case10 a:hover {
    background-image: url(../image/btn-case-sp-10.png);
  }
  .document {
    top: inherit;
  }
  .c01 .question {
    height: 1155px;
  }
  .c01 .picture-box {
    top: 340px;
  }
  .c01 .select-box {
    top: 735px;
  }
  .c01 .answer {
    height: 795px;
  }
  .c01 .answer .select-box {
    top: 370px;
  }
  .c01 .one-point {
    top: 360px;
  }
  .c01 .popup-inner {
    top: 515px;
  }
  .c01 .explanation {
    height: 1675px;
  }
  .android .c01 .explanation {
    height: 1670px;
  }
  .c01 .answer-box {
    top: 505px;
  }
  .c02 .question {
    height: 1565px;
  }
  .c02 .picture-box {
    top: 415px;
  }
  .c02 .select-box {
    top: 1140px;
  }
  .c02 .answer {
    height: 865px;
  }
  .c02 .answer .select-box {
    top: 440px;
  }
  .c02 .explanation {
    height: 1470px;
  }
  .c02 .one-point {
    top: 435px;
    bottom: inherit;
  }
  .c02 .answer-box {
    top: 580px;
  }
  .c02 .popup-inner {
    top: 590px;
  }
  .c03 .question {
    height: 1560px;
  }
  .c03 .picture-box {
    top: 415px;
  }
  .c03 .select-box {
    top: 1140px;
  }
  .c03 .answer {
    height: 865px;
  }
  .c03 .answer .select-box {
    top: 440px;
  }
  .c03 .explanation {
    height: 1690px;
  }
  .android .c03 .explanation {
    height: 1660px;
  }
  .c03 .one-point {
    top: 435px;
  }
  .c03 .popup-inner{
    top: 590px;
  }
  .c03 .explanation .answer-box {
    top: 580px;
  }
  .c03 .explanation .documents {
    top: inherit;
    bottom: 0;
  }
  .c04 .question {
    height: 1700px;
  }
  .c04 .picture-box {
    top: 535px;
  }
  .c04 .select-box {
    top: 1280px;
  }
  .c04 .answer {
    height: 980px;
  }
  .c04 .answer .select-box {
    top: 555px;
  }
  .c04 .explanation {
    height: 1810px;
  }
  .android .c04 .explanation {
    height: 1775px;
  }
  .c04 .popup-inner {
    top: 700px;
  }
  .c04 .one-point {
    top: 545px;
  }
  .c04 .answer-box {
    top: 690px;
  }
  .c05 .question {
    height: 1375px;
  }
  .c05 .picture-box {
    top: 535px;
  }
  .c05 .select-box {
    top: 950px;
  }
  .c05 .answer {
    height: 990px;
  }
  .c05 .answer .select-box {
    top: 565px;
  }
  .c05 .one-point {
    top: 545px;
  }
  .c05 .popup-inner {
    top: 700px;
  }
  .c05 .answer-box {
    top: 690px;
  }
  .c05 .explanation {
    height: 1675px;
  }
  .android .c05 .explanation {
    height: 1640px;
  }
  .c06 .question {
    height: 1650px;
  }
  .c06 .picture-box {
    top: 500px;
  }
  .c06 .select-box {
    top: 1225px;
  }
  .c06 .answer {
    height: 940px;
  }
  .c06 .answer .select-box {
    top: 515px;
  }
  .c06 .explanation {
    height: 1855px;
  }
  .android .c06 .explanation {
    height: 1820px;
  }
  .c06 .popup-inner {
    top: 660px;
  }
  .c06 .one-point {
    top: 510px;
  }
  .c06 .answer-box {
    top: 670px;
  }
  .c07 .question {
    height: 1175px;
  }
  .c07 .picture-box {
    top: 340px;
  }
  .c07 .select-box {
    top: 755px;
  }
  .c07 .answer {
    height: 825px;
  }
  .c07 .answer .select-box {
    top: 370px;
  }
  .c07 .explanation {
    height: 1595px;
  }
  .android .c07 .explanation {
    height: 1580px;
  }
  .c07 .popup-inner {
    top: 520px;
  }
  .c07 .one-point {
    top: 365px;
  }
  .c07 .answer-box {
    top: 510px;
  }
  .c08 .question {
    height: 1635px;
  }
  .c08 .picture-box {
    top: 485px;
  }
  .c08 .select-box {
    top: 1210px;
  }
  .c08 .answer {
    height: 940px;
  }
  .c08 .answer .select-box {
    top: 510px;
  }
  .c08 .explanation {
    height: 1885px;
  }
  .android .c08 .explanation {
    height: 1870px;
  }
  .c08 .popup-inner {
    top: 665px;
  }
  .c08 .one-point {
    top: 510px;
  }
  .c08 .answer-box {
    top: 650px;
  }
  .c09 .question {
    height: 1665px;
  }
  .c09 .picture-box {
    top: 460px;
  }
  .c09 .select-box {
    top: 1180px;
  }
  .c09 .answer {
    height: 990px;
  }
  .c09 .answer .select-box {
    top: 475px;
  }
  .c09 .explanation {
    height: 1880px;
  }
  .android .c09 .explanation {
    height: 1835px;
  }
  .c09 .one-point {
    top: 470px;
  }
  .c09 .popup-inner {
    top: 620px;
  }
  .c09 .answer-box {
    top: 615px;
  }
  .c10 .question {
    height: 1810px;
  }
  .c10 .picture-box {
    top: 645px;
  }
  .c10 .select-box {
    top: 1385px;
  }
  .c10 .answer {
    height: 1110px;
  }
  .c10 .answer .select-box {
    top: 660px;
  }
  .c10 .explanation {
    height: 2005px;
  }
  .android .c10 .explanation {
    height: 1975px;
  }
  .c10 .one-point {
    top: 660px;
  }
  .c10 .popup-inner {
    top: 815px;
  }
  .c10 .answer-box {
    top: 805px;
  }
}
